{% extends 'base/master.twig' %}

{#
  The standard template comes with a navbar (top and bottom) and a Bootstrap container. It has no special theming.

  Example pages:
    - Award Manager
    - News
    - Privacy Policy
#}

{% block body %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">2017 /v/GAs</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% for route, title in navbar.getItems() %}
            <li><a href="{{ path(route) }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if app.user.loggedIn %}
            <li class="hidden-sm hidden-xs"><a href="https://steamcommunity.com/profiles/{{ app.user.steamID }}">{{ app.user.name }}</a></li>
            <li class="hidden-sm hidden-xs"><img src="{{ app.user.avatar }}" style='height: 50px;'></li>
          {% else %}
            <li>
              <a href="{{ navbar.getLoginLink() }}">
                <img src="/img/sign_in_with_steam.png" class="hidden-sm hidden-xs" alt="Login">
                <span class="visible-sm visible-xs">Login</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block beforeContainer %}{% endblock %}

  <div class="container" role="main">
    {% for message in app.session.getFlashBag().get('error') %}
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.session.getFlashBag().get('success') %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}

    {% block content %}{% endblock %}

  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://discord.gg/4e8JQB4">Discord</a></li>
          <li><a href="https://steamcommunity.com/groups/thevidyagaemawards">Steam Group</a></li>
          <li><a href="steam://friends/joinchat/103582791440677461">Steam Chat</a></li>
          <li><a href="mailto:vidya@vidyagaemawards.com">Email</a></li>
          <li><a href="https://vidyagaemawards.com/previous-years">Previous /v/GAs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('privacy') }}">Privacy Policy</a></li>
          {% if app.user.loggedIn %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
