{% extends 'base/master.html.twig' %}

{#
  The standard template comes with a navbar (top and bottom) and a Bootstrap container. It has no special theming.

  Example pages:
    - Award Manager
    - News
    - Privacy Policy
#}

{% block body %}
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">2018 /v/GAs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
          {% for item in navbar.getItems() %}
            {% if item.dropdown and item.children %}
              <li class="nav-item dropdown">
                <a class="nav-link text-warning dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ item.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for child in item.children %}
                    <a class="dropdown-item {{ app.request.attributes.get('_route') == child.route ? 'active' : '' }}" href="{{ path(child.route) }}">{{ child.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% elseif not item.dropdown %}
              <li class="nav-item {{ app.request.attributes.get('_route') == item.route ? 'active' : '' }}">
                <a class="nav-link" href="{{ path(item.route) }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-nav">
          {% if app.user.loggedIn %}
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link py-0" href="https://steamcommunity.com/profiles/{{ app.user.steamID }}" target="_blank">
                {{ app.user.name }}
                <img class="profile-pic ml-2" src="{{ app.user.avatar }}" style='height: 40px;'>
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-light" href="{{ path('login', {'redirect': app.request.requestUri}) }}">
                <i class="fab fa-steam"></i> Team Login
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block beforeContainer %}{% endblock %}

  <div class="container" role="main" id="mainContainer">
    {% for message in app.session.getFlashBag().get('error') %}
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.session.getFlashBag().get('success') %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}

    {% block content %}{% endblock %}

  </div>

  <nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-dark">
    <div class="container">

      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarBottomCollapsed" aria-controls="navbarBottomCollapsed" aria-expanded="false" aria-label="Toggle bottom menu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarBottomCollapsed">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://discord.gg/4e8JQB4">Discord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://steamcommunity.com/groups/thevidyagaemawards">Steam Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="steam://friends/joinchat/103582791440677461">Steam Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:vidya@vidyagaemawards.com">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://vidyagaemawards.com/previous-years">Previous /v/GAs</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('privacy') }}">Privacy Policy</a>
          </li>
          {% if app.user.loggedIn %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
