{% extends 'base/standard.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Recent Updates</h1>
      <p class="lead">
        It is currently <strong>{{ 'now' | date('D, d M Y H:i:s') }}</strong> ({{ 'now' | date('P') }} UTC)
      </p>
    </div>
  </div>

  {% if is_granted('ROLE_NEWS_MANAGE') and not configService.isReadOnly %}
    <div class="row">
      <div class="col-md-8">
        <div class="well">
          <form action="{{ path('newsAdd') }}" method="post" autocomplete="off">
            <div class="form-group">
              <label for="news_text">Add news item</label>
              <input type="text" class="form-control" id="news_text" name="news_text" required autocomplete="off">
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" id="date" name="date" required
                       placeholder="yyyy-mm-dd hh:mm:ss" value="{{ 'now' | date('Y-m-d H:i:s') }}">
                <span class="help-block">The news item won't be shown until this date.</span>
              </div>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" id="user" disabled value="{{ app.user.name | e('html_attr') }}">
                <span class="help-block">Unprivileged users won't see your name.</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Add News</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-12">
      {% for item in news %}
        <h3>{{ item.timestamp | date('M j, Y, g:ia') }}</h3>
        <form action="{{ path('newsDelete', {'id': item.id}) }}" method="post">
          <p>
            {{ item.text | raw }}
            {% if is_granted('ROLE_NEWS_VIEW_USER') %}
              &ndash; <a href="https://steamcommunity.com/profiles/{{ item.user.steamID }}">{{ item.user.name }}</a>
            {% endif %}
            {% if is_granted('ROLE_NEWS_MANAGE') and not configService.isReadOnly %}
              <button type="submit" class="btn btn-danger btn-xs" title="Delete this news item"
                      onclick="return confirm('Are you sure you want to delete this news item?')">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            {% endif %}
          </p>
        </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}
