{% extends 'base/standard.html.twig' %}

{% block content %}
  <h1 class="page-header">Top referrers in the past 7 days</h1>

  <table class="table table-bordered" style="background-color: white;">
    <tr>
      <th class="col-md-1">Total hits</th>
      <th class="col-md-2">Latest hit</th>
      <th class="col-md-2">Link</th>
      <th>Referrer</th>
    </tr>
    {% for referrer in referrers %}
      <tr class="{{ referrer.class }}">
        <td><strong>{{ referrer.total }}</strong></td>
        <td><abbr title="{{ referrer.latest | date('D d/m/Y - H:i:s') }}">{{ referrer.latest | time_diff }}</abbr></td>
        <td><a href="{{ referrer.referer | escape('html_attr') }}">Follow link</a></td>
        <td>{{ referrer.referer }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
