{% extends 'base/standardThemed.twig' %}

{% block title %}Winners{% endblock %}

{% block head %}
  <style type="text/css">
    .uploadable {
      cursor: pointer;
    }

    .uploadable:hover {
      border-color: #f5e8c4;
      box-shadow:  0 0 15px rgb(247, 208, 89);
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      var fileUploadTarget;

      $('.uploadable').click(function (event) {
        fileUploadTarget = $(event.target);
        $('#fileInput').click();
      });

      $('#fileInput').change(function () {
        var target = fileUploadTarget;
        var id = target.attr('data-id');

        $('#uploadAwardID').val(id);
        target.attr('src', '/img/uploadImageHappening.png');
        target.removeClass('uploadable');

        var form = $('#fileForm')[0];
        var data = new FormData(form);

        $.ajax({
          type: 'post',
          url: '{{ path('winnerImageUpload') }}',
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function (response) {
            if (response.success) {
              target.attr('src', response.filePath + '?t=' + new Date().getTime());
            } else {
              alert('File upload error: ' + response.error);
              target.attr('src', '/img/uploadImage.png');
            }
            target.addClass('uploadable');
          }
        });

        $('#fileInput').val('');
      });
    });
  </script>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" id="fileForm" style="display: none;">
    <input type="hidden" name="id" id="uploadAwardID">
    <input type="file" name="file" id="fileInput" accept=".jpg,.jpeg,.png,.gif">
  </form>

  <style type="text/css">
    p {
      font-size: 22px;
      line-height: 1.3em;
      color: #f7d059;
    }

    .award {
      margin: 0 auto 35px auto;
      padding: 20px;
      background: black;
      border: 2px solid #af3a81;
      box-shadow: 0 0 10px #af3a81;
    }

    .winner {
      border: 1px solid #f7d059;
      box-shadow: 0 0 5px rgb(247, 208, 89);
    }

    .award ul {
      list-style-type: none;
      margin: 0;
      font-size: 24px;
      padding-left: 0;
    }

    .award ul li {
      line-height: 1.5em;
      /*font-family: "modern typewriter", Calibri, sans-serif;*/
      color: #00ebdb;
    }

    .award ul li:first-child {
      font-size: 36px;
      font-family: 'Annapolis', 'Tahoma Bold', Tahoma, sans-serif;
      color: #f7d059;
      line-height: 1em;
    }

    .award ul li:last-child {
      color: #f85898;
      font-size: 18px;
      /*font-family: "modern typewriter", Tahoma, sans-serif;*/
    }

    .page-header {
      text-align: center;
      border: none;
      margin-bottom: 0;
    }

    .page-header.the-bottom {
      margin-bottom: 20px;
    }

    .awardHeaderContainer {
      margin: 0 50px;
      padding-top: 24px;
      height: 106px;
      background: url(/2016images/title_bg.png) center center no-repeat;
      text-align: center;
    }

    .awardName {
      font-family: "AnnapolisHalftoneItalic", 'Tahoma Bold', Tahoma, sans-serif;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;
      font-size: 2.6em;
      line-height: 40px;
      color: #00ebdb;
    }

    a, a:visited {
      color: #00ebdb;
    }

    a:hover, a:active {
      color: #f85898;
    }

    .awardSubtitle {
      color: #00ebdb;
      font-family: 'FixedSystem', Calibri, sans-serif;
      font-size: 32px !important;
      line-height: 20px;
    }
  </style>

  <div class="zig"></div>

  <div class="row">
    <div class="col-md-5" style="text-align: center;">
      <img src="/2016images/vga_logo.png" alt="Logo of the 2016 Vidya Gaem Awards">
    </div>
    <div class="col-md-7" style="text-align: center; padding-top: 30px;">
      <h1>Winners of the 2017 Vidya&nbsp;Gaem&nbsp;Awards</h1>
    </div>
  </div>

  <div class="zig"></div>

  {% for award in awards %}
    <div class="row">
      <div class="col-xs-12">

        <div class="awardHeaderContainer">
          <div class="awardName">
            <a id="{{ award.id }}" href="#{{ award.id }}" class="anchor">{{ award.name }}</a>
          </div>
          <h2 class="awardSubtitle">{{ award.subtitle }}</h2>
        </div>

        <div class="award">
          <div class="row">
            <div class="col-md-4">
              {% if award.winnerImage %}
                <img class="winner img-responsive center-block {{ user.canDo('awards-edit') ? 'uploadable' : '' }}"
                     src="{{ award.winnerImage | e('html_attr') }}" data-id="{{ award.id }}">
              {% elseif user.canDo('awards-edit') %}
                <img class="winner img-responsive center-block uploadable" src="/img/uploadImage.png"
                     data-id="{{ award.id }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <ul>
                {% for result in results[award.id] %}
                  <li>{{ result }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="zig"></div>

  <div class="page-header the-bottom">
    <h1>Detailed Results</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        The results shown above are the same as those shown during the show and are based only on the votes from /v/.
        For more details, including vote counts and votes that we filtered out, see the
        <a href="{{ path('detailedResults') }}">detailed results</a> and
        <a href="{{ path('pairwiseResults') }}">pairwise comparison</a> pages.
      </p>
    </div>
  </div>

  <div class="zig"></div>

{% endblock %}
