{% extends 'base/standard.twig' %}

{% block head %}
  <style type="text/css">
    #dialog-edit-header {
      font-weight: bold;
    }

    #awards {
      background-color: white;
    }

    .label {
      display: block;
      text-align: center;
      padding: 13px 0;
    }

    #awards .aligned {
      text-align: center;
      vertical-align: middle;
    }

    .award-id {
      font-family: monospace;
      font-size: smaller;
      color: #9E9E9E;
    }

    .award-id:hover {
      color: inherit;
    }

    .sparkbar {
      margin: 4px 0;
      height: 10px;
      overflow: hidden;
    }

    .sparkbar-yes {
      float: left;
      height: 10px;
      background: #55A54E;
    }

    .sparkbar-no {
      float: right;
      height: 10px;
      background: #AA4643;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      var editDialog = $("#dialog-edit");
      var currentlySubmitting = false;

      editDialog.on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.attr('data-id');

        // New award
        if (id == undefined) {
          editDialog.removeAttr('data-id');
          $("#dialog-edit-header").text("Add new award");

          // Clear any existing information in the dialog
          $("#info-id").removeAttr("disabled");
          editDialog.find("input[type=text]").val("");
          editDialog.find("input[type=number]").val("");
          $("#info-enabled").prop("checked", true);
          $("#info-nominations").prop("checked", false);
          $("#info-secret").prop("checked", false);
          $("#deleteAward").hide();

        // Editing an existing award
        } else {
          editDialog.attr('data-id', id);
          var award = awards[id];

          $("#dialog-edit-header").text(award.name);
          $("#deleteAward").show().text('Delete award (' + award.name + ')');
          $("#info-id").val(id).attr('disabled', 'disabled');
          $("#info-name").val(award.name);
          $("#info-subtitle").val(award.subtitle);
          $("#info-comments").val(award.comments);
          if (award.autocompleter != id) {
            $("#info-autocomplete").val(award.autocompleter).change();
          } else {
            $("#info-autocomplete").val("").change();
          }
          $("#info-order").val(award.order);
          $("#info-enabled").prop("checked", award.enabled);
          $("#info-nominations").prop("checked", award.nominationsEnabled);
          $("#info-secret").prop("checked", award.secret);
        }
      });

      $("#dialog-edit-form").submit(function (event) {
        event.preventDefault();

        if (currentlySubmitting) {
          return;
        }
        currentlySubmitting = true;

        // Show the "please wait" message and disable the submit button
        $("#dialog-edit-status").show();
        $('#dialog-edit').find("button").attr("disabled", "disabled");
        $("#dialog-edit-error").parent().slideUp();

        // Grab the award ID from the dialog
        var id = editDialog.attr("data-id");
        var action = id ? 'edit' : 'new';

        // Send through the AJAX request
        var data = $("#dialog-edit-form").serializeArray();
        data.push({name: "action", value: action});
        if (action === 'edit') {
          data.push({name: "id", value: id});
        }

        $.post("{{ path('awardManagerPostAjax') }}", data, function (response) {
          if (response.success) {
            window.location.reload();
          } else {
            $("#dialog-edit-status").hide();
            $("#dialog-edit").find("button").removeAttr("disabled");
            $("#dialog-edit-error")
              .html("<strong>Error:</strong> " + response.error)
              .parent().fadeIn("fast");

            currentlySubmitting = false;
          }
        }, "json");
      });

      $("#massChangeNominations").submit(function () {
        return confirm("Are you sure you want to just fuck this shit up?");
      });

      $("#deleteAward").click(function () {
        if (currentlySubmitting) {
          return;
        } else if (!confirm("Are you sure you want to just fuck this award up?")) {
          return;
        }

        currentlySubmitting = true;
        // Show the "please wait" message and disable the submit button
        $("#dialog-edit-status").show();
        $("#dialog-edit").find("button").attr("disabled", "disabled");
        $("#dialog-edit-error").parent().slideUp();

        var data = [
          {name: "action", value: "delete"},
          {name: "id", value: editDialog.attr("data-id")}
        ];

        $.post("{{ path('awardManagerPostAjax') }}", data, function (response) {
          if (response.success) {
            window.location.reload();
          } else {
            $("#dialog-edit-status").hide();
            $("#dialog-edit").find("button").removeAttr("disabled");
            $("#dialog-edit-error")
              .html("<strong>Error:</strong> " + response.error)
              .parent().fadeIn("fast");

            currentlySubmitting = false;
          }
        }, "json");

      });
    });
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header fancy">Award Manager</h1>

  <ul class="breadcrumb fancy">
    <li><a href="{{ path('awards') }}">Back to the main awards and nominations page</a></li>
    <li><a href="{{ path('nomineeManager') }}">Manage nominees</a></li>
  </ul>

  {% for message in flashbag.get('formError') %}
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}

  {% for message in flashbag.get('formSuccess') %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="table-responsive">
    <table class="table table-bordered table-hover form-table" id="awards">
      <thead>
      <tr>
        <th style="width: 60px;" class="hidden-sm">Order</th>
        <th>Name</th>
        <th style="width: 60px;">Nominees</th>
        <th style="width: 180px;">
          Feedback
          <span style="float: right;">
            <small>
              <a href='?sort=percentage'>sort %</a> or <a href='?sort=net'>sort net</a>
            </small>
          </span>
        </th>
        <th style="width: 130px;">Status</th>
        {% if user.canDo('awards-edit') %}
          <th style="width: 80px;">Controls</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for award in awards %}
        <tr class="{{ not award.enabled ? 'warning' : award.secret ? 'info' : '' }}">
          <td class="aligned hidden-sm">{{ award.order }}</td>
          <td>
            <div class="pull-right award-id hidden-sm">
              <abbr title="The internal ID of the award. Visible in some places, such as URLs.">{{ award.id }}</abbr>
            </div>
            <strong>{{ award.name }}</strong><br>
            <small>{{ award.subtitle }}</small>
          </td>
          <td class="aligned">
            {% if user.canDo("nominations-edit") %}
              <a href="{{ path('nomineeManager', {'awardID': award.id}) }}" target="_blank">
                {{ award.nominees|length }}
              </a>
            {% else %}
              {{ award.nominees|length }}
            {% endif %}
          </td>
          <td>
            <div class="sparkbar">
              <div class="sparkbar-yes" style="width: {{ award.feedbackPercent.positive }}%"></div>
              <div class="sparkbar-no" style="width: {{ award.feedbackPercent.negative }}%"></div>
            </div>
            {{ award.feedback | length }} votes
            <abbr style="float: right;"
                  title="{{ award.groupedFeedback.positive }} - {{ award.groupedFeedback.negative }} = {{ award.groupedFeedback.net }}">
              {{ award.feedbackPercent.positive | round }}%
            </abbr>
          </td>
          <td class="aligned">
            {% if not award.enabled %}
              <span class="label label-warning">Award Disabled</span>
            {% elseif award.secret %}
              <span class="label label-info">Secret Award!</span>
            {% elseif award.areNominationsEnabled %}
              <span class="label label-success">Nominations Open</span>
            {% else %}
              <span class="label label-default">Nominations Closed</span>
            {% endif %}
          </td>
          {% if user.canDo('awards-edit') %}
            <td class="aligned">
              <button class="btn btn-primary" title="Edit award" data-toggle="modal" data-target="#dialog-edit"
                data-id="{{ award.id }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;Edit
              </button>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if user.canDo('awards-edit') %}
      <form method="POST" action="{{ path('awardManagerPost') }}">
      </form>
    {% endif %}
  </div>

  {% if user.canDo('awards-edit') %}
    <div class="panel">
      <div class="panel-body">
        <form method="POST" action="{{ path('awardManagerPost') }}" id="massChangeNominations">
          <input type="hidden" id="action" name="action" value="massChangeNominations"/>
          <button class="btn btn-success" type="submit" name="todo" value="open">Open all nominations</button>
          <button class="btn btn-danger" type="submit" name="todo" value="close">Close all nominations</button>
          <button class="btn btn-primary pull-right" id="new-award" type="button" data-toggle="modal" data-target="#dialog-edit">
            <span class="glyphicon glyphicon-plus"></span> Add a new award
          </button>
        </form>
      </div>
    </div>

    <div id="dialog-edit" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form-horizontal" id="dialog-edit-form">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              <h4 class="modal-title" id="dialog-edit-header">Add new award</h4>
            </div>

            <div class="modal-body">
              <div class="alert alert-danger" style="display: none;">
                <span id="dialog-edit-error"></span>
                <a class="close" href="#">&times;</a>
              </div>

              <script>
                $('.alert-danger .close').on('click', function () {
                  $(this).parent().fadeOut("fast");
                });
              </script>

              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-id">ID</label>
                <div class="col-xs-7">
                  <input class="form-control" type="text" id="info-id" placeholder="best-writing" required
                         name="id" pattern="[0-9a-zA-Z-]+">
                  <span class="help-block">ID can only include letters, numbers, and dashes</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-name">Name</label>
                <div class="col-xs-7">
                  <input class="form-control" type="text" id="info-name" placeholder="Discworld Award" required
                         name="name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-subtitle">Subtitle</label>
                <div class="col-xs-7">
                  <input class="form-control" type="text" id="info-subtitle" placeholder="for best writing / story"
                         name="subtitle" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-comments">Extra Details</label>
                <div class="col-xs-7">
                  <input class="form-control" type="text" id="info-comments" name="comments">
                  <span class="help-block">This will appear on the nominations page</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-autocomplete">Autocomplete</label>
                <div class="col-xs-7">
                  <select name="autocompleter" id="info-autocomplete" class="form-control">
                    <option></option>
                    {% for autocompleter in autocompleters %}
                      <option value="{{ autocompleter.id }}">
                        {{ autocompleter.name }}
                      </option>
                    {% endfor %}
                  </select>
                  <span class="help-block">Determines what will be suggested when users are adding nominations</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-3 control-label" for="info-order">Position</label>
                <div class="col-xs-7">
                  <input class="form-control" type="number" min="1" max="10000" id="info-order" name="order" required>
                  <span class="help-block">Awards with a lower position will be sorted first</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-7">
                  <label class="checkbox">
                   <input type="checkbox" id="info-enabled" name="enabled" checked> Award enabled?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-7">
                  <label class="checkbox">
                    <input type="checkbox" id="info-nominations" name="nominationsEnabled"> Nominations enabled?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-7">
                  <label class="checkbox">
                    <input type="checkbox" id="info-secret" name="secret"> Secret award?
                  </label>
                  <span class="help-block">Secret awards don't show up until the voting stage</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              {% if user.canDo('awards-delete') %}
                <button class="btn btn-danger pull-left" type="button" id="deleteAward">Delete award</button>
              {% endif %}
              <span id="dialog-edit-status" style="display: none;">
                <img src='/loading.gif' style="width: 16px;"> saving...&nbsp;
              </span>
              <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  <script type="text/javascript">
    var awards = {{ awards | json_encode | raw }};
  </script>
{% endblock %}
