{% extends 'master.twig' %}

{% block content %}
  <h1 class="page-header">Website Config</h1>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p style="margin-bottom: 20px;">
        This website runs on 4chan time ({{ 'now' | date('P') }} UTC). Current time: {{ 'now' | date('Y-m-d H:i:s') }}.
      </p>
      <form class="form-horizontal" action="{{ path('configPost') }}" method="post">
        <div class="form-group">
          <label for="votingStart" class="col-sm-2 control-label">Voting Start</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="votingStart" name="votingStart" value="{{ config.votingStart ? config.votingStart | date('Y-m-d H:i:s') : '' }}"
                   placeholder="yyyy-mm-dd hh:mm:ss">
            <p class="help-block">Leaving this blank will result in votes never opening</p>
          </div>
        </div>
        <div class="form-group">
          <label for="votingEnd" class="col-sm-2 control-label">Voting End</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="votingEnd" name="votingEnd" value="{{ config.votingEnd ? config.votingEnd | date('Y-m-d H:i:s') : '' }}"
                   placeholder="yyyy-mm-dd hh:mm:ss">
            <p class="help-block">Leaving this blank will keep voting open indefinitely</p>
          </div>
        </div>
        <div class="form-group">
          <label for="streamTime" class="col-sm-2 control-label">Stream Time</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="streamTime" name="streamTime" value="{{ config.streamTime ? config.streamTime | date('Y-m-d H:i:s') : '' }}"
                   placeholder="yyyy-mm-dd hh:mm:ss" required>
            <p class="help-block">This is shown on the countdown page</p>
          </div>
        </div>
        <div class="form-group">
          <label for="defaultPage" class="col-sm-2 control-label">Default Page</label>
          <div class="col-sm-4">
            <select class="form-control" id="defaultPage" name="defaultPage">
              {% for page in config.allowedDefaultPages %}
                <option {{ (config.defaultPage == page) ? 'selected' : '' }}>{{ page }}</option>
              {% endfor %}
            </select>
            <p class="help-block">The first page that appears when accessing the website</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save config</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h2>Read-Only Mode</h2>

  <div class="row">
    <div class="col-xs-12">
      {% if config.isReadOnly %}
        <p style="font-size: 18px;">
          <strong class="text-info">Read-only mode is currently active.</strong>
        </p>
        <p>
          It can only be disabled by directly editing the database.
        </p>
      {% else %}
        <div class="alert alert-danger">
          <form action="{{ path('configPost') }}" method="post">
            <p>
              <strong>Warning:</strong> turning on read-only mode will lock the site and prevent any more changes from being made.
              This can only be undone by directly editing the database.
            </p>
            <input type="hidden" name="readOnly" value="1">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to turn on read-only mode?')">Turn on read-only mode</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
