{% extends 'base/standard.twig' %}

{% block content %}
  <style type="text/css">
    .page-header {
      font-family: 'Bungee', sans-serif;
      text-align: center;
      margin-top: 5px;
    }

    .admin-tools {
      text-align: center;
      border-top: 1px solid #BBB;
      border-bottom: 1px solid #BBB;
      border-radius: 0;
    }

    .thumbnail {
      background-color: white;
    }
    .filter-02-voting-code {
      background-color: #FFF9C4;
    }
    .filter-04-4chan {
      background-color: #C8E6C9;
    }
    .filter-08-4chan-or-null-with-voting-code {
      border: 2px solid black;
      background-color: #A5D6A7;
    }
    .filter-14-neogaf, .filter-17-twitch, .filter-11-reddit, .filter-18-facebook, .filter-19-google, .filter-15-facepunch {
      background-color: #ffcdd2; 
    }
    .filter-16-8chan {
      background-color: #EEEEEE;
    }
    .infobox {
      border: 3px solid lightblue;
    }
    .results .thumbnail {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
    .results ol {
      padding-left: 35px;
    }
    .results li:first-child {
      color: green;
      font-weight: bold;
    }

    .sweepPoints {
      font-size: 10px;
      float: right;
      padding-top: 3px;
    }

    .voteCount {
      float: right;
      color: black;
      font-weight: bold;
    }
  </style>

  <h1 class="page-header">Detailed Results</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Here are the detailed results for the 2017 /v/GAs. Although we only use votes from 4chan in our official results, we include the results of other websites here for your amusement.</p>
          <p>If all you want is the official results for each award, you can get those on the <a href="{{ path('simpleResults') }}">winners&nbsp;page</a>. If you want to see the results in even <em>more</em> detail, you can view the <a href="{{ path('pairwiseResults') }}">pairwise voting results</a>.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>What are Sweep Points™?</strong></h3>
        </div>
        <div class="panel-body">
          <p>
            The Schulze method doesn't allow for exact vote counts for each nominee, so instead we calculate Sweep Points™ as a way to see how much the winners won by.
            It may give unexpected results for low vote counts.
          </p>
          <p>
            <a href="https://youtu.be/i_UG-IKNzIQ">Watch the video</a> for more details.
          </p>
        </div>
      </div>
    </div>
  </div>

  <ul class="breadcrumb admin-tools">
    {% if all %}
      <li class="active">Currently viewing the complete rankings.</li>
      <li><a href="{{ path('detailedResults') }}">Show the top 5 positions only</a></li>
    {% else %}
      <li class="active">Currently viewing the top 5 nominees for each award only.</li>
      <li><a href="{{ path('detailedResults', {all: 'all'}) }}">Show complete rankings</a></li>
    {% endif %}
  </ul>

  {% for award in awards %}
    <h2 id="{{ award.id }}"><a href="#{{ award.id }}">{{ award.name }}</a> <small>{{ award.subtitle }}</small></h2>

    {% set limit = (all ? 100 : 5) %}

    {% for filterCollection in filters %}
    <div class="row results">
      {% for filter, filterName in filterCollection %}
        {% set result = results[award.id][filter] %}
        {% if result.votes > 0 %}
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail filter-{{ filter }}">
              <strong>{{ filterName }}</strong>
              <span class="voteCount">{{ result.votes }} votes</span>
              <ol>
                {% for nominee in result.results[:limit] %}
                <li style="clear: both;">
                  {{ nominees[award.id][nominee].name }}
                  {% if result.steps['sweepPoints'][nominee] %}
                    <span class="sweepPoints" title="{{ result.steps['sweepPoints'][nominee] | round(2, 'floor') | number_format(2) }} Sweep Points&trade;">{{ result.steps['sweepPoints'][nominee] | round(0, 'floor') }} pts</span>
                  {% endif %}
                </li>
                {% endfor %}
              </ol>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
