<!DOCTYPE html>
<html lang="en">
<head>
    <title>/v/GAs - Voting</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/voting.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='/js/dumbshit.js'></script>
    {% if category %}
    <script src='/js/voting.js'></script>
    {% endif %}

    <meta name="viewport" content="width=1100, maximum-scale=1.0, user-scalable=no" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>

    {% if category %}
    <script type="text/javascript">
        var votingEnabled = {{ votingOpen ? 'true' : 'false' }};
        var lastVotes = {{ votes | json_encode | raw }};
        var currentCategory = "{{ category.id }}";
        var postURL = "{{ path('votingSubmission', {'category': category.id}) }}";
    </script>
    {% endif %}

    {% if votingOpen %}
        <style type="text/css">
            .aNominee {
                cursor: move;
            }
        </style>
    {% endif %}

</head>
<body>

<p class="shit">Created and Directed by<br><span style="font-size:100px">Hideo Kojima</span></p>
<header>
    <a href="{{ path('voting') }}"><img src="/2015voting/logo.gif" id="thelogo" alt="oh god it's happening again"/></a>
    <h1>The 2016 Vidya Gaem Awards</h1>
    <h2>{{ voteText }}</h2>
</header>

<div class="zig"></div>

<div id="wrapper">
    {% if category %}
        <div class="awardHeader">
            <a href="{{ path('voting', {'category': prevCategory.id}) }}" class="navigation left"></a>
            <div class="awardHeaderContainer">
                <div class="awardName">{{ category.name }}</div>
                <h2 class="awardSubtitle">{{ category.subtitle }}</h2>
            </div>
            <a href="{{ path('voting', {'category': nextCategory.id}) }}" class="navigation right"></a>
        </div>
        {% if votingOpen %}
            <img src="/2015voting/dont_forget.gif" id="dontforget" alt="Don't forget to hit submit"/>
        {% endif %}
    {% endif %}

    {% if category %}
        <div id="limitsDrag">
            <div id="nomineeColumn" class="column">

                <img src="/2015voting/instruc_pick.gif" width="172px" height="97px" alt="Pick your nominees"/>

                {% for nominee in category.nominees | shuffle %}

                    {% spaceless %}
                    <div class="voteBox">
                        <div id="nominee-{{ nominee.shortName }}" class="aNominee" data-order="{{ loop.index }}"
                             data-nominee="{{ nominee.shortName }}">
                            <img class="fakeBorder" src="/2015voting/votebox_foreground.png">
                            <img class="fakeBorder locked" src="/2015voting/votebox_foreground_locked.png">
                            <div class="info">
                                <div class="innerInfo">{{ nominee.flavorText }}</div>
                            </div>
                            <img class="nomineeImage" src="{{ nominee.image }}">
                            <div class="nomineeInfo">
                                <div class="number"></div>
                                <div class="nomineeName">{{ nominee.name }}</div>
                                <div class="nomineeSubtitle">{{ nominee.subtitle | raw }}</div>
                            </div>
                        </div>
                    </div>
                    {% endspaceless %}

                {% endfor %}

            </div>

            <div id="spacerColumn" class="column">
                &nbsp;
            </div>

            {% if votingOpen or votingClosed %}
                <div id="voteColumn" class="column">
                    <img src="/2015voting/instruc_drag.gif" width="234px" height="97px" alt="Drag and drop to vote"/>
                    {% for nominee in category.nominees %}
                        <div id="voteBox{{ loop.index }}" class="voteBox">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        {% if votingOpen %}
            <footer style='position: relative; clear: both;'>
                <div id="btnResetVotes" class="btnSubmit" title="Reset Votes"></div>
                <div id="votesAreNotLocked">
                    <div id="btnLockVotes" class="btnSubmit" title="Submit Votes"></div>
                </div>
                <div id="votesAreLocked" style="display: none;">
                    <div id="btnLockVotes" class="btnSubmit iVoted" title="Saved!"></div>
                </div>
                <a href="{{ path('voting', {'category': nextCategory.id}) }}" class="navigation right" title="Next category"></a>
            </footer>
        {% endif %}

    {% else %}
        <div id="startMessage">

            {% if votingNotYetOpen %}
                <!-- Before votes open -->
                <h2>How to vote:</h2>
                <p>Despite the new look, voting is the same as last year. Vote for as many nominees as you want, and put
                    them in the order you'd like to see them win. Too much effort for you? Vote for one nominee and call
                    it a day.</p>
                <p>Voting isn't open yet, but you can still browse the awards and have a look at the nominees. You can
                    use the list of awards at the bottom and the meme arrows at the top to navigate.</p>
            {% endif %}

            {% if votingOpen %}
                <!-- While votes are open -->
                <h2>How to vote:</h2>
                <p>Despite the new look, voting is still the same. Vote for as many nominees as you want, and put them
                    in the order you'd like to see them win. Too much effort for you? Vote for one nominee and call it a
                    day.</p>
                <p>You can use the award list at the bottom to navigate, or just use the arrows that appear after you
                    click submit.</p>

                <a href="{{ path('voting', {'category': (categories|first).id}) }}" id="btnStart"></a>
            {% endif %}

            {% if votingClosed %}
                <!-- After votes close -->
                <h2>Thanks to everybody who voted.</h2>
                <p>No new votes can be made, but if you've already voted you can still see the votes you made.</p>
            {% endif %}

            <h2>Stream information:</h2>
            <p>We fucked up and probably won't stream until March.</p>

        </div>
    {% endif %}
</div>

<div class="zig"></div>

<div id="containerCategories">
    <h1 id="topCategories">
        The Awards
    </h1>

    {% for _category in categories %}
        <a href="{{ path('voting', {'category': _category.id}) }}" id="{{ _category.id }}"
           class="category {{ category == _category ? 'active' : '' }} {{ allVotes[_category.id] ? 'complete' : '' }}">
            <h3>{{ _category.name }}</h3>
            <p>{{ _category.subtitle }}</p>
        </a>
    {% endfor %}

    {% if user.loggedIn %}
        <h3 style='clear:both; padding-top: 50px;'><a href="{{ path('home') }}" style="color: #80d7d1;">Back to the main part of the
                site</a></h3>
    {% endif %}
</div>

</body>
</html>
