{% extends 'master.twig' %}

{% block title %}Winners{% endblock %}

{% block content %}
  <style type="text/css">
    .uploadable {
      cursor: pointer;
    }

    .uploadable:hover {
      box-shadow:  0 0 15px rgb(245, 91, 245);
    }

    .empty-image {
      height: 235px;
      text-align: center;
      color: #1f1f1f;
      background: #EEE url('/img/no-image-available.png') bottom right no-repeat;
      transition: 0.2s all;
    }

    .empty-image.inactive {
      display: none;
    }

    .uploadable .empty-image:hover {
      color: #1565C0;
    }

    .uploadable .empty-image:hover .glyphicon {
      animation: move 0.4s forwards;
    }

    .empty-image .glyphicon-cog {
      animation: spin 2s infinite linear;
    }

    @keyframes move {
      0% {
        transform: translate(0px);
      }
      100% {
        transform: translate(0px, -5px);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }

    .empty-image .glyphicon {
      font-size: 80px;
      margin-top: 35px;
      margin-bottom: 10px;
      position: relative;
    }

    @font-face {
      font-family: 'modern typewriter';
      src: url('/fonts/modern typewriter.eot');
      src: local('☺'), url('/fonts/modern typewriter.woff') format('woff'), url('/fonts/modern typewriter.ttf') format('truetype'), url('/fonts/modern typewriter.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'yoster';
      src: url('/fonts/yoster.eot');
      src: local('☺'), url('/fonts/yoster.woff') format('woff'), url('/fonts/yoster.ttf') format('truetype'), url('/fonts/yoster.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    html {
      background: black url("/2015voting/bg.gif");
    }

    body {
      background: none;
    }

    h1, h2 {
      margin:0;
      padding:0;
      color: #f85898;
      font-weight: normal;
    }

    h1 {
      font-family: "modern typewriter", Tahoma, sans-serif;
      text-transform: uppercase;
      font-size: 3em;
      line-height: 100%;
    }
    h2 {
      font-family: "yoster", Calibri, sans-serif;
      font-size: 1.3em;
      line-height: 100%;
      color: #bfbfbf;
      -webkit-font-smoothing: none;
    }

    p {
      font-family: "modern typewriter", Tahoma, sans-serif;
      font-size: 22px;
      line-height: 1.3em;
      color: #f7d059;
    }

    .category {
        margin: 0 auto 35px auto;
        padding: 20px;
        background: black;
        border: 4px solid #970087;
    }

    .winner {
      border: 1px solid #970087;
    }

    .category ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      font-size: 24px;
    }

    .category ul li {
      line-height: 1.5em;
      font-family: "modern typewriter", Calibri, sans-serif;
      color: #00ebdb;
    }

    .category ul li:first-child {
      font-weight: bold;
      font-size: 36px;
      font-family: "modern typewriter", Tahoma, sans-serif;
      color: #f7d059;
    }

    .category ul li:last-child {
      color: #f85898;
      font-size: 18px;
      font-family: "modern typewriter", Tahoma, sans-serif;
    }

    .zig {
      clear: both;
      height: 20px;
      margin: 30px 0;
      background-image: url("/2015voting/zig_horizontal.gif");
    }

    .page-header {
      text-align: center;
      border: none;
      margin-bottom: 0;
    }

    .page-header.the-bottom {
      margin-bottom: 20px;
    }

    .awardHeaderContainer {
      padding-top: 24px;
      margin-bottom: 15px;
      height: 106px;
      background: url(/2015voting/title_bg.gif) top center no-repeat;
      text-align: center;
    }
    .awardName {
      font-family: "modern typewriter", Tahoma, sans-serif;
      text-transform: uppercase;
      font-size: 3em;
      line-height: 50px;
      color: #00ebdb;
    }

    a, a:visited {
      color: #00ebdb;
    }

    a:hover, a:active {
      color: #f85898;
    }

    .awardSubtitle {
      color: #00ebdb;
    }

    .navbar, .navbar .navbar-inner {
      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
      border:             none;
      background: black;
    }

    .navbar a {
      font-family: "modern typewriter", Tahoma, sans-serif !important;
      color: white !important;
      text-shadow: none !important;
      background: none !important;
    }

    .navbar a:hover {
      color: #f85898 !important;
    }

    .navbar .nav>.active>a {
      box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
      -webkit-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
      -moz-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
    }

    .navbar-fixed-top {
      border-bottom: 1px solid #f7d059;
    }

    .navbar-fixed-bottom {
      border-top: 1px solid #f7d059;
    }

    .navbar-brand {
      font-weight: bold;
    }
  </style>

  <script type="text/javascript">
      $(document).ready(function () {
          var fileUploadTarget;

          $('.uploadable').click(function (event) {
              fileUploadTarget = $(event.currentTarget);

              // The uploadable class is removed while the upload is in progress
              if (!fileUploadTarget.hasClass('uploadable')) {
                  return;
              }

              $('#fileInput').click();
          });

          $('#fileInput').change(function () {
              var target = fileUploadTarget;
              var image = fileUploadTarget.find('img');
              var icon = fileUploadTarget.find('.glyphicon');
              var emptyImage = fileUploadTarget.find('.empty-image');

              if (image) {
                  image.remove();
                  emptyImage.removeClass('inactive');
                  emptyImage.find('.upload-help').text('Uploading...');
              }

              icon.removeClass('glyphicon-upload');
              icon.removeClass('glyphicon-alert');
              icon.addClass('glyphicon-cog');

              var id = target.attr('data-id');
              $('#uploadAwardID').val(id);
              target.removeClass('uploadable');

              var form = $('#fileForm')[0];
              var data = new FormData(form);

              $.ajax({
                  type: 'post',
                  url: '/winners',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  dataType: 'json',
                  success: function (response) {
                      if (response.success) {
                          image = $('<img class="img-responsive center-block">');
                          image.appendTo(target);
                          image.hide();
                          image.attr('src', response.filePath + '?t=' + new Date().getTime());

                          image.bind('load', function () {
                              emptyImage.addClass('inactive');
                              image.show();
                              target.addClass('uploadable');
                          });
                      } else {
                          alert('File upload error: ' + response.error);
                          emptyImage.find('.upload-help').text('Upload failed, click to try again');
                          icon.removeClass('glyphicon-cog');
                          icon.addClass('glyphicon-alert');
                          target.addClass('uploadable');
                      }
                  }
              });

              $('#fileInput').val('');
          });
      });
  </script>

  <form enctype="multipart/form-data" id="fileForm" style="display: none;">
    <input type="hidden" name="id" id="uploadAwardID">
    <input type="file" name="file" id="fileInput" accept=".jpg,.jpeg,.png,.gif">
  </form>

    <div class="zig"></div>

    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <img src="/2015voting/logo.gif" alt="Logo of the 2015 Vidya Gaem Awards">
      </div>
      <div class="col-md-6" style="text-align: center; padding-top: 30px;">
        <h1>Winners of the 2015 Vidya&nbsp;Gaem&nbsp;Awards</h1>
      </div>
    </div>

    <div class="zig"></div>

    {% for category in categories %}
    <div class="row">
      <div class="col-xs-12">

        <div class="awardHeaderContainer">
          <div class="awardName">
            <a id="{{ category.id }}" href="#{{ category.id }}" class="anchor">{{ category.name }}</a>
          </div>
          <h2 class="awardSubtitle">{{ category.subtitle }}</h2>
        </div>

        <div class="category">
          <div class="row">
            <div class="col-md-4">
              {% if category.winnerImage or user.canDo('categories-edit') %}
                <div class="winner {{ user.canDo('categories-edit') ? 'uploadable' : '' }}"
                     title="{{ user.canDo('categories-edit') ? 'Click here to upload an image for this award winner' : '' }}"
                     data-id="{{ category.id }}">
                  {% if category.winnerImage %}
                    <img class="img-responsive center-block" src="{{ category.winnerImage | e('html_attr') }}">
                  {% endif %}
                  {% if user.canDo('categories-edit') %}
                    <div class="empty-image {{ category.winnerImage ? 'inactive' : '' }}" >
                      <div class="glyphicon glyphicon-upload"></div>
                      <div style="font-weight: bold; font-size: 18px;" class="upload-help">
                        Click here to upload an image
                      </div>
                      <div>Minimum dimensions: 345 x 245</div>
                      <div>Image will scale as needed</div>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            <div class="col-md-8">
              <ul>
                {% for result in results[category.id] %}
                <li>{{ result }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="zig"></div>

    <div class="page-header the-bottom">
      <h1>Detailed Results</h1>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>The results shown above are the same as those shown during the show and are based only on the votes from /v/. For more details, including vote counts and votes that we filtered out, see the <a href="{{ path('detailedResults') }}">detailed results</a> and <a href="{{ path('pairwiseResults') }}">pairwise comparison</a> pages.</p>
      </div>
    </div>

    <div class="zig"></div>

{% endblock %}
