{% extends 'master.twig' %}

{% block title %}Winners{% endblock %}

{% block content %}
  <style type="text/css">
    @font-face {
      font-family: 'modern typewriter';
      src: url('/fonts/modern typewriter.eot');
      src: local('☺'), url('/fonts/modern typewriter.woff') format('woff'), url('/fonts/modern typewriter.ttf') format('truetype'), url('/fonts/modern typewriter.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'yoster';
      src: url('/fonts/yoster.eot');
      src: local('☺'), url('/fonts/yoster.woff') format('woff'), url('/fonts/yoster.ttf') format('truetype'), url('/fonts/yoster.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    html {
      background: black url("/2015voting/bg.gif");
    }

    body {
      background: none;
    }

    h1, h2 {
      margin:0;
      padding:0;
      color: #f85898;
      font-weight: normal;
    }

    h1 {
      font-family: "modern typewriter", Tahoma, sans-serif;
      text-transform: uppercase;
      font-size: 3em;
      line-height: 100%;
    }
    h2 {
      font-family: "yoster", Calibri, sans-serif;
      font-size: 1.3em;
      line-height: 100%;
      color: #bfbfbf;
      -webkit-font-smoothing: none;
    }

    p {
      font-family: "modern typewriter", Tahoma, sans-serif;
      font-size: 22px;
      line-height: 1.3em;
      color: #f7d059;
    }

    .award {
        margin: 0 auto 35px auto;
        padding: 20px;
        background: black;
        border: 4px solid #970087;
    }

    .winner {
      border: 1px solid #970087;
    }

    .award ul {
      list-style-type: none;
      margin: 0;
      font-size: 24px;
    }

    .award ul li {
      line-height: 1.5em;
      font-family: "modern typewriter", Calibri, sans-serif;
      color: #00ebdb;
    }

    .award ul li:first-child {
      font-weight: bold;
      font-size: 36px;
      font-family: "modern typewriter", Tahoma, sans-serif;
      color: #f7d059;
    }

    .award ul li:last-child {
      color: #f85898;
      font-size: 18px;
      font-family: "modern typewriter", Tahoma, sans-serif;
    }

    .zig {
      clear: both;
      height: 20px;
      margin: 30px 0;
      background-image: url("/2015voting/zig_horizontal.gif");
    }

    .page-header {
      text-align: center;
      border: none;
      margin-bottom: 0;
    }

    .page-header.the-bottom {
      margin-bottom: 20px;
    }

    .awardHeaderContainer {
      padding-top: 24px;
      margin-bottom: 15px;
      height: 106px;
      background: url(/2015voting/title_bg.gif) top center no-repeat;
      text-align: center;
    }
    .awardName {
      font-family: "modern typewriter", Tahoma, sans-serif;
      text-transform: uppercase;
      font-size: 3em;
      line-height: 50px;
      color: #00ebdb;
    }

    a, a:visited {
      color: #00ebdb;
    }

    a:hover, a:active {
      color: #f85898;
    }

    .awardSubtitle {
      color: #00ebdb;
    }

    .navbar, .navbar .navbar-inner {
      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
      border:             none;
      background: black;
    }

    .navbar a {
      font-family: "modern typewriter", Tahoma, sans-serif !important;
      color: white !important;
      text-shadow: none !important;
      background: none !important;
    }

    .navbar a:hover {
      color: #f85898 !important;
    }

    .navbar .nav>.active>a {
      box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
      -webkit-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
      -moz-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
    }

    .navbar-fixed-top {
      border-bottom: 1px solid #f7d059;
    }

    .navbar-fixed-bottom {
      border-top: 1px solid #f7d059;
    }

    .navbar-brand {
      font-weight: bold;
    }
  </style>

    <div class="zig"></div>

    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <img src="/2015voting/logo.gif" alt="Logo of the 2016 Vidya Gaem Awards">
      </div>
      <div class="col-md-6" style="text-align: center; padding-top: 30px;">
        <h1>Winners of the 2016 Vidya&nbsp;Gaem&nbsp;Awards</h1>
      </div>
    </div>

    <div class="zig"></div>

    {% for award in awards %}
    <div class="row">
      <div class="col-xs-12">

        <div class="awardHeaderContainer">
          <div class="awardName">
            <a id="{{ award.id }}" href="#{{ award.id }}" class="anchor">{{ award.name }}</a>
          </div>
          <h2 class="awardSubtitle">{{ award.subtitle }}</h2>
        </div>

        <div class="award">
          <div class="row">
            <div class="col-md-4">
              {% if award.winnerImage %}
                <img class="winner img-responsive center-block" src="{{ award.winnerImage | e('html_attr') }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <ul>
                {% for result in results[award.id] %}
                <li>{{ result }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="zig"></div>

    <div class="page-header the-bottom">
      <h1>Detailed Results</h1>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>The results shown above are the same as those shown during the show and are based only on the votes from /v/. For more details, including vote counts and votes that we filtered out, see the <a href="{{ path('detailedResults') }}">detailed results</a> and <a href="{{ path('pairwiseResults') }}">pairwise comparison</a> pages.</p>
      </div>
    </div>

    <div class="zig"></div>

{% endblock %}
