{% extends 'base/standard.html.twig' %}

{% block content %}
  <h1 class="page-header">Audit Log</h1>

  <blockquote>
    <p>
      He sees you when you're sleeping<br>
      He knows when you're awake<br>
      He knows if you've been bad or good<br>
      So be good for goodness sake<br>
    </p>
  </blockquote>

  <table class="table table-bordered table-striped" style="background-color: white;">
    <thead>
      <tr>
        <th style="width: 160px;">Time</th>
        <th style="width: 540px;">Action</th>
        <th>Data</th>
      </tr>
    </thead>
  {% for action in actions %}
    {% set entity = auditService.getEntity(action) %}
    <tr>
      <td>
        <abbr title="{{ action.timestamp.format('Y-m-d H:i:s') }}">
          {{ (action.timestamp | moment).fromNow.relative }}
        </abbr>
         &nbsp; <small class="text-muted">{{ action.timestamp.format('H:i') }}</small>
      </td>
      <td>
        <div>
          <img src="{{ action.user.avatar }}" style="width: 25px; margin-right: 3px;"> <strong>{{ action.user.name }}</strong>
          {{ actionTypes[action.action] | lower }}
        </div>
        {% if action.action starts with 'profile' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            <a href="{{ path('viewPerson', {'steamID': entity.steamId}) }}">{{ entity.getName() }}</a>
            {% if action.data2 %}
            : <code>{{ action.data2 }}</code>
            {% endif %}
          </div>
        {% endif %}
        {% if action.action starts with 'award' or action.action starts with 'winner' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            {% if entity and action.action != 'award-delete' %}
              {{ entity.name }} :
            {% endif %}
            <code>{{ action.data1 }}</code>
          </div>
        {% endif %}
        {% if action.action starts with 'nominee' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            {% if entity and action.action != 'nominee-delete' %}
              {{ entity.award.name }} : <code>{{ action.data1 }}</code><br>
              {{ entity.name }} : <code>{{ action.data2 }}</code>
            {% else %}
              <code>{{ action.data1 }}</code><br>
              <code>{{ action.data2 }}</code>
            {% endif %}
          </div>
        {% endif %}
        {% if action.action starts with 'advert' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            {% if action.tableHistory %}
              {{ action.tableHistory.values.name }} :
            {% endif %}
            <code>{{ action.data1 }}</code><br>
          </div>
        {% endif %}
        {% if action.action starts with 'item' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            {% if action.tableHistory %}
              {{ action.tableHistory.values.name }} :
            {% endif %}
            <code>{{ action.tableHistory.values['short-name'] }}</code><br>
          </div>
        {% endif %}
        {% if action.action == 'user-added' %}
          <div style="margin-left: 31px; margin-top: 5px;">
            <a href="{{ path('viewPerson', {'steamID': entity.steamId}) }}">{{ entity.getName() }}</a>
            {% if action.data2 %}
              : <small>permission <code>{{ action.data2 }}</code></small>
            {% else %}
              : <small>no permissions given</small>
            {% endif %}
          </div>
        {% endif %}
      </td>
      <td>
        {% if action.tableHistory %}
          <a class="btn btn-default" onclick="$('#data{{ action.id }}').show();$(this).hide();">Show data</a>
          <div id="data{{ action.id }}" style="display: none;">
          {% for key, value in action.tableHistory.values %}
            <div><strong>{{ key }}:</strong> {{ value is iterable ? value | json_encode : value }}</div>
          {% endfor %}
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
