{% extends 'base/special.html.twig' %}

{% block fullTitle %}2019 Vidya Gaem Awards{% endblock %}

{% block head %}
  <style type="text/css">
    html {
      height: 100%;
    }

    body {
      height: 100%;
    }

    .meme {
      width: 160px;
      height: 600px;
      margin-top: 5px;
      /*position: absolute;*/
      /*top: 250px;*/
    }

    .leftMeme {
      margin-left: 10px;
    }

    .rightMeme {
      margin-right: 10px;
    }

    .memeContainer {
      display: flex;
      justify-content: center;
    }

    .timezones a, .mobile-link {
      background-color: #000;
      border-radius: 2px;
      color: #f81317;
      text-shadow: #f81317 0px 0px 3px;
      padding: 5px 15px 1px;
      font-size: 18px;
      border: 1px solid #f81317;
      font-family: "OratorStd", "Courier New", serif;
      line-height: 0.95em;
      text-decoration: none;
    }

    .timezones a:hover, .mobile-link:hover {
      color: #f29823;
      border: 1px solid #f29823;
      text-shadow: #f29823 0px 0px 3px;
      text-decoration: none;
    }

    /*a, a:hover {*/
      /*text-decoration: none;*/
      /*color: #f0f1a3;*/
      /*font-family: 'FixedSystem', Calibri, sans-serif;*/
    /*}*/

    /*a:hover {*/
      /*color: white;*/
    /*}*/

    /*.stats {*/
      /*text-align: center;*/
      /*color: #89A;*/
      /*font-size: 9pt;*/
      /*font-family: arial, helvetica, sans-serif;*/
    /*}*/

    /*.stat {*/
      /*color: #34345C;*/
      /*padding: 1px;*/
    /*}*/

    .timezones, dd, dt {
      color: #fec544;
      text-decoration: none;
      font-family: "OratorStd", "Courier New", serif;
      text-shadow: #00000080 3px 3px 3px;
      font-size: 1em;
      padding: 0;
      /*font-size: 34px;*/
      /*line-height: 0.6;*/
      /*font-family: 'FixedSystem', Calibri, sans-serif;*/
    }

    .timezones dl {
      margin-top: 0;
      color: white;
      text-align: center;
    }

    .timezones dd {
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 0;
    }

    .timezones dt {
      font-weight: normal;
    }

    .logo {
      background-color: black;
      /*border: 2px solid #af3a81;*/
      margin-bottom: 30px;
      height: 462px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.16);
    }

    .title {
      text-align: center;
    }

    .title h1 {
      /*color: #f0f1a3;*/
      font-size: 44px;
      /*text-shadow: 0 0 10px #f0f1a3;*/
    }

    .title h2 {
      /*font-family: 'Annapolis', 'Tahoma Bold', Tahoma, sans-serif;*/
      /*color: #00ebdb;*/
      /*font-size: 24px;*/
      margin-top: 5px;
      /*text-shadow: 0 0 3px #00ebdb;*/
    }

    .container-fluid {
      max-width: 1400px;
    }

    .mobile-link {
      /*font-size: 45px;*/
      margin-top: 24px;
      display: inline-block;
    }

    .timezone-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .title h2.preshow-message {
      margin-top: 15px;
    }

    .timezones {
      width: 220px;
    }

    .meme {
      display: none;
    }

    @media (max-width: 1400px) {
      .rightMeme {
        display: none;
      }
    }

    @media (max-width: 1250px) {
      .leftMeme {
        display: none;
      }
    }
  </style>
{% endblock %}

{% block body %}
  <div style="text-align: center;">
    <img src="{{ asset('2019images/vga2019_logo.png') }}" alt="Logo of the 2019 Vidya Gaem Awards" style="display: inline;">
  </div>

  <div class="zig d-none d-lg-block" style="margin-top: 20px;"></div>

  <div class="memeContainer">
    <div class="meme leftMeme">
      {% if ad1 %}
        <a href="{{ path('advertRedirect', {'advertToken': ad1.token}) }}" target="_blank">
          <img src="{{ ad1.image.url | escape('html_attr') }}">
        </a>
      {% endif %}
    </div>

    <div class="timezone-container">
      <div class="timezones d-none d-lg-block">
        <dl>
          {% for friendlyTimezone, timezone in timezones[:(timezones|length)/2] %}
            <dt title="UTC {{ streamDate | date('P', timezone) }}">{{ friendlyTimezone }}</dt>
            <dd>{{ streamDate | date('D M jS, H:i', timezone) }}</dd>
          {% endfor %}
          <dt><a href="{{ otherTimezonesLink }}" target="_blank">Other Timezones</a></dt>
        </dl>
      </div>
      <div class="col-lg-6 col-12">
        <div class="logo">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FeVMyaUCjtc" frameborder="0"
                  allowfullscreen></iframe>
        </div>
        <div class="title">
          <h1>You Can (Not) Contain The Hype</h1>
          <h2 id="countdown">
            <span id="countdown">&nbsp;</span>
          </h2>
          <h2 class="preshow-message">
            Join us two hours before the main show for the preshow,<br>
            featuring brand new mixes from the /v/GA music team
          </h2>
          <div class="d-lg-none">
            <a href="https://vidyagaemawards.com/previous-years" class="mobile-link" target="_blank">View stream date in your timezone</a>
          </div>
          <div>
            <a href="https://vidyagaemawards.com/previous-years" class="mobile-link" target="_blank">View previous /v/GA shows</a>
          </div>
        </div>
      </div>
      <div class="timezones d-none d-lg-block">
        <dl>
          {% for friendlyTimezone, timezone in timezones[(timezones|length)/2:] %}
            <dt title="UTC {{ streamDate | date('P', timezone) }}">{{ friendlyTimezone }}</dt>
            <dd>{{ streamDate | date('D M jS, H:i', timezone) }}</dd>
          {% endfor %}
          <dt><a href="{{ otherTimezonesLink }}" target="_blank">Other Timezones</a></dt>
        </dl>
      </div>
    </div>

    <div class="meme rightMeme">
      {% if ad2 %}
        <a href="{{ path('advertRedirect', {'advertToken': ad2.token}) }}" target="_blank">
          <img src="{{ ad2.image.url | escape('html_attr') }}">
        </a>
      {% endif %}
    </div>
  </div>

  <div class="zig d-none d-lg-block"></div>

  <script type="text/javascript">
      var serverLoad = Date.parse("{{ 'now' | date('c') }}");
      var clientLoad = Date.now();

      // This could probably be replaced by moment.js
      function updateWCTime() {
          var clientNow = Date.now();
          var serverNow = clientNow - clientLoad + serverLoad - 1;

          var kickoff = Date.parse("{{ streamDate | date('c') }}");
          var diff = kickoff - serverNow;
          diff = Math.max(diff, 0);

          var days = Math.floor(diff / (1000 * 60 * 60 * 24));
          var hours = Math.floor(diff / (1000 * 60 * 60));
          var mins = Math.floor(diff / (1000 * 60));
          var secs = Math.floor(diff / 1000);

          var dd = days;
          var hh = hours - days * 24;
          var mm = mins - hours * 60;
          var ss = secs - mins * 60;

          document.getElementById("countdown").innerHTML = dd + ' day' + (dd === 1 ? ', ' : 's, ') + hh + ' hour' +
              (hh === 1 ? ', ' : 's, ') + mm + ' minute' + (mm === 1 ? ', ' : 's, ') +
              ss + ' second' + (ss === 1 ? '' : 's');
      }
      window.onload = updateWCTime;
      setInterval('updateWCTime()', 1000);
  </script>
{% endblock %}
