{% extends 'viewPersonBase.html.twig' %}

{% block subContent %}
  <div class="col-md-12">
    <form method="POST" action="{{ path('editPerson', {'steamID': user.steamID}) }}" class="form-horizontal well"
          id="awardForm">
      <input type="hidden" name="action" value="edit-details">
      <div class="form-group">
        <label class="col-md-2 control-label" for="input01">Steam ID</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="input01" disabled value="{{ user.steamID }}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="input02">Last Known Name</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="input02" disabled value="{{ user.name|e('html_attr') }}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="input03">Primary Role</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="input03" name="PrimaryRole"
                 value="{{ user.primaryRole|e('html_attr') }}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="input05">Email Address</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="input05" name="Email" value="{{ user.email|e('html_attr') }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <a href="{{ path('viewPerson', {'steamID': user.steamID}) }}" class="btn">Cancel</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
