{% extends 'base/special.html.twig' %}

{% block fullTitle %}2018 Vidya Game Awards{% endblock %}

{% block head %}
  <style type="text/css">
    html, body {
      min-height: 100%;
    }

    .logo {
      background-color: black;
      /*border: 2px solid #af3a81;*/
      margin-bottom: 30px;
      height: 462px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.16);
    }

    .title {
      text-align: center;
    }

    h2 {
      margin-top: 10px;
    }

    /*.title h1 {*/
      /*font-weight: normal;*/
      /*font-size: 55px;*/
      /*line-height: 1em;*/
      /*color: #00ebdb;*/
      /*text-shadow: 0 0 10px #00ebdb;*/
      {#background: url('{{ asset('2016images/title_bg.png') }}') center center no-repeat;#}
      /*margin-bottom: 0;*/
      /*padding: 20px 0 10px 0;*/
    /*}*/

    /*.title h2 {*/
      /*font-family: "Annapolis", Tahoma, sans-serif;*/
      /*color: #f7d059;*/
      /*font-size: 38px;*/
      /*font-weight: normal;*/
      /*line-height: 0.95em;*/
      /*margin-top: 0;*/
      /*text-shadow: 0 0 3px #f7d059;*/
    /*}*/

    /*.subtitle {*/
      /*text-align: center;*/
      /*font-size: 50px;*/
      /*line-height: 0.5em;*/
      /*margin: 20px;*/
      /*font-family: "FixedSystem", "Courier New", monospace;*/
      /*color: silver;*/
    /*}*/

    .links {
      text-align: center;
      max-width: 900px;
      margin: 15px auto 0 auto;
    }

    .links.main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .links.bottom {
      margin-top: 40px;
    }

    .link {
      margin: 6px;
    }

    .link.disabled {
      background: #686868;
      border-radius: 15px;
      color: #dedede;
      padding: 5px 15px;
      font-size: 18px;
      display: inline-block;
      width: 270px;
      transform: translate(1px, 1px);
    }

    .link a {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      color: white;
      padding: 5px 15px;
      font-size: 18px;
      display: inline-block;
      width: 270px;
      box-shadow: 2px 2px black;
      text-shadow: none;
      border: 1px solid #fec544;
    }

    .link.special a {
      background-color: #fec544;
      color: black;
    }

    .link a:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .link.special a:hover {
      background-color: #cb9c37;
    }

    .link .soon {
      font-size: small;
    }

    .link a:hover {
      box-shadow: 1px 1px black;
      text-decoration: none;
      transform: translate(1px, 1px);
    }

    .link .soon {
      color: white;
    }
  </style>
{% endblock %}
{##}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <div class="logo">
          <iframe width="100%" height="460" src="https://www.youtube.com/embed/RF2nKx4Aa2I" frameborder="0"
                  allowfullscreen=""></iframe>
        </div>
        {#<img class="logo" src="{{ asset('2016images/alternate_logo.png') }}" style="height: 400px; margin: 10px auto;">#}
        <div class="title">
          <h1>The 2018 Vidya Gaem Awards</h1>
          <h2 id="countdown">
            Thanks for watching! If you missed it, the full VOD can be found on Mixer and YouTube (preshow at 1h 46m, main show at 3h 26m), and more
            sources will be made available in the coming days.
          </h2>
        </div>
        <div class="links main">
          <div class="link special">
            <a href="https://mixer.com/vidyagaemawards?vod=85716725">Watch on Mixer</a>
          </div>
          <div class="link special">
            <a href="https://youtu.be/RF2nKx4Aa2I?t=12313">Watch on YouTube</a>
          </div>
          {#<div class="link special soon">#}
            {#<a href="https://www.twitch.tv/videos/381958569">Watch it on Twitch</a>#}
          {#</div>#}
          {#<div class="link special">#}
            {#<a href="#">Direct download</a>#}
          {#</div>#}
          <div class="link">
            <a href="{{ path('winners') }}">Results</a>
          </div>
          <div class="link">
            <a href="{{ path('credits') }}">Credits and /agdg/</a>
          </div>
          <div class="link">
            <a href="{{ path('soundtrack') }}">Soundtrack</a>
          </div>
          <div class="link">
            <a href="{{ path('predictionLeaderboard') }}">Fantasy league results</a>
          </div>
        </div>

        <div class="links bottom">
          <div class="link">
            <a href="https://vidyagaemawards.com/previous-years">View previous /v/GAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
