{% extends 'base/special.html.twig' %}

{% block fullTitle %}2023 Vidya Gaem Awards{% endblock %}

{% block css %}
  {{ parent() }}

  {{ encore_entry_link_tags('voting') }}

  <style type="text/css">
    html, body {
      min-height: 100%;
    }

    /*body {*/
    /*    height: 100%;*/
    /*    background-image: url("/2021images/clouds.png");*/
    /*    background-position: center;*/
    /*    background-size: cover;*/
    /*}*/

    /*.logo {*/
    /*  background-color: black;*/
    /*  !*border: 2px solid #af3a81;*!*/
    /*  margin-bottom: 30px;*/
    /*  height: 462px;*/
    /*  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.16);*/
    /*}*/

    .title {
      text-align: center;
      color: white;
      font-family: There Brat,sans-serif;
    }

    h1 {
      font-size: 60px;
      color: #fff;
    }

    h2 {
      margin-top: 10px;
      font-size: 30px;
    }

    .title h1 {
        font-size: 2.7em;
        line-height: 100%;
        margin-top: 10px;
        text-shadow: 1px -1px #4ea24a, 2px -2px #4ea24a, 3px -3px #4ea24a, -1px 1px #da505f, -2px 2px #4ea24a, -3px 3px #4ea24a, 1px 1px #da505f, 2px 2px #061019, 3px 3px #061019, -4px 4px #061019;
        text-transform: uppercase;
        font-weight: normal;
      /*font-weight: normal;*/
      /*font-size: 55px;*/
      /*line-height: 1em;*/
      /*color: #00ebdb;*/
      /*text-shadow: 0 0 10px #00ebdb;*/
      {#background: url('{{ asset('2016images/title_bg.png') }}') center center no-repeat;#}
      /*margin-bottom: 0;*/
      /*padding: 20px 0 10px 0;*/
    }

    .title h2 {
        color: white;
        font-weight: normal;
    }
      /*font-family: "Annapolis", Tahoma, sans-serif;*/
      /*color: #f7d059;*/
      /*font-size: 38px;*/
      /*font-weight: normal;*/
      /*line-height: 0.95em;*/
      /*margin-top: 0;*/
      /*text-shadow: 0 0 3px #f7d059;*/
    /*}*/

    /*.subtitle {*/
      /*text-align: center;*/
      /*font-size: 50px;*/
      /*line-height: 0.5em;*/
      /*margin: 20px;*/
      /*font-family: "FixedSystem", "Courier New", monospace;*/
      /*color: silver;*/
    /*}*/

    .links {
      text-align: center;
      max-width: 1200px;
      margin: 15px auto 0 auto;
    }

    .links.main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .links.bottom {
      margin-top: 15px;
      font-size: 16px;

        font-family: Jet Set,sans-serif;
        text-shadow: 1px 1px 2px #cf282f;
    }

    .links.bottom a {
        color: white;
    }

    .link {
      margin: 6px;
    }

    /*.link.disabled {*/
    /*  background: #686868;*/
    /*  border-radius: 15px;*/
    /*  color: #dedede;*/
    /*  padding: 5px 15px;*/
    /*  font-size: 18px;*/
    /*  display: inline-block;*/
    /*  width: 270px;*/
    /*  transform: translate(1px, 1px);*/
    /*}*/

    .link .btn {
        font-size: 16px;
    }

    /*.link a {*/
    /*  font-size: 20px;*/
    /*  display: inline-block;*/
    /*  width: 300px;*/

    /*  background-color: #000;*/
    /*  border-radius: 2px;*/
    /*  color: white;*/
    /*  text-shadow: #f81317 0px 0px 3px;*/
    /*  padding: 5px 15px 1px;*/
    /*  border: 1px solid #f81317;*/
    /*  font-family: "OratorStd", "Courier New", serif;*/
    /*  line-height: 0.95em;*/
    /*  text-decoration: none;*/
    /*}*/

    /*.link.special a {*/
    /*  background-color: #f29823;*/
    /*  text-shadow: #f29823 0px 0px 3px;*/
    /*  color: black;*/
    /*}*/

    /*.link a:hover {*/
    /*  color: #f29823;*/
    /*  border: 1px solid #f29823;*/
    /*  text-shadow: #f29823 0px 0px 3px;*/
    /*  text-decoration: none;*/
    /*}*/

    /*.link.special a:hover {*/
    /*  background: #000;*/
    /*}*/


    /*.link a:hover {*/
    /*  box-shadow: 1px 1px black;*/
    /*  text-decoration: none;*/
    /*  transform: translate(1px, 1px);*/
    /*}*/

    .link .soon {
      color: gray;
      text-decoration: none !important;
      cursor: unset !important;
    }

    .embed-container {
        background: #dedede url(/2022images/bgwhite.jpg) repeat;
        border: 2px ridge #fff;
        color: #000;
        margin-left: -10px;
        margin-right: -10px;
        padding: 5px;
        line-height: 0;
    }

    .center-container {
        min-height: 100vh;
    }

    /*.title h1 {*/
    /*    filter: blur(1px);*/
    /*}*/
    /**/
    /*#countdown {*/
    /*    filter: blur(0.75px);*/
    /*}*/

    /*header .logo {*/
    /*    margin-right: 0;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    flex-wrap: wrap;*/
    /*    height: auto;*/
    /*}*/
    /**/
    /*header .logo img {*/
    /*    max-height: 100px;*/
    /*}*/

    button {
        /*font-size: 16px;*/
    /*    font-weight: bold;*/
    /*    height: 40px;*/
        width: 200px;
    }
  </style>
{% endblock %}

{% block body %}

<div class="center-container">

  <header>
    <div class="logo">
      <img src="{{ asset('2022images/logo.png') }}">
    </div>
    <div class="title-text">
      <div class="line-1 stroke-me">The 2023 Vidya Gaem Awards</div>
    </div>
  </header>

  {% apply spaceless %}
    <div class="embed-container" style="margin-top: 20px;">
      <iframe width="100%" height="600" src="https://www.youtube.com/embed/0ZGGgaydyVA" frameborder="0" allowfullscreen=""></iframe>
    </div>
  {% endapply %}

    <div class="title" style="margin-top: 20px;">
      <h1>The 2023 Vidya Gaem Awards</h1>
      <h2 id="countdown">
        Thanks for watching!
      </h2>
    </div>
    <div class="links main">
      <div class="link special">
        <a href="https://www.twitch.tv/videos/1756835911">
          <button class="btn btn-default">Watch on Twitch</button>
        </a>
      </div>
      <div class="link special">
        <a href="https://www.youtube.com/watch?v=0ZGGgaydyVA">
          <button class="btn btn-default">Watch on YouTube</button>
        </a>
      </div>
      {#<div class="link special">#}
      {#<a href="#">Direct download</a>#}
      {#</div>#}
      <div class="link">
        <a href="{{ path('winners') }}">
          <button class="btn btn-default">Results</button>
        </a>
      </div>
      <div class="link">
        <a href="{{ path('credits') }}">
          <button class="btn btn-default">Credits and /agdg/</button>
        </a>
      </div>
      <div class="link">
        <a href="{{ path('soundtrack') }}">
          <button class="btn btn-default">Soundtrack</button>
        </a>
      </div>
      {#          <div class="link">#}
      {#            <a href="{{ path('predictionLeaderboard') }}">Fantasy league results</a>#}
      {#          </div>#}
    </div>

    <div class="links bottom">
      <div class="link">
        <a href="https://vidyagaemawards.com/previous-years">View previous /v/GAs</a>
      </div>
    </div>
  </div>
{% endblock %}
