{% extends 'base/standard.html.twig' %}

{% block title %}Lootbox Manager{% endblock %}

{% block content %}
  <style type="text/css">
    img.delete-this {
      margin: -11px 7px -8px -14px;
      width: 34px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .inventory-container {
      display: flex;
      flex-wrap: wrap;
    }

    .inventory-item {
      width: 150px;
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
      background-color: #fff;
      cursor: pointer;
    }

    .inventory-item:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
      transform: translateY(-10px);
    }

    .inventory-item img {
      width: 100%;
    }

    .item-name {
      margin-top: 10px;
      text-align: center;
      flex-grow: 1;
      color: black;
      font-size: 18px;
    }

    .item-rarity {
      flex-grow: 1;
      font-weight: normal;
      font-style: italic;
      padding-top: 5px;
      width: 100%;
    }
  </style>

  <script type="text/javascript">
      $(document).ready(function () {
          var editDialog = $("#dialog-edit");
          var currentlySubmitting = false;

          editDialog.on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var id = button.attr('data-id');

              if (id === undefined) {
                  // New item
                  editDialog.removeAttr('data-id');
                  $("#dialog-edit-header").text("Add a new lootbox reward");

                  // Clear any existing information in the dialog
                  $("#info-id").val("");
                  $("#info-action").val("new");
                  editDialog.find("input[type=text]").val("");
                  $("#info-type").val("none").change();
                  $("#dialog-edit-delete").hide();

              } else {
                  // Editing an existing advert
                  editDialog.attr('data-id', id);
                  var item = items[id];

                  $("#dialog-edit-header").text(item.name);
                  $("#deleteAward").show();
                  $("#info-id").val(id);
                  $("#info-action").val("edit");
                  $("#info-short-name").val(item.shortName);
                  $("#info-name").val(item.name);
                  $("#info-rarity").val(item.rarity);
                  $("#info-type").val(item.type).change();
              }
          });

          $("#dialog-edit-form").submit(function (event) {
              event.preventDefault();

              if (currentlySubmitting) {
                  return;
              }
              currentlySubmitting = true;

              // Show the "please wait" message and disable the submit button
              $("#dialog-edit-status").show();
              $('#dialog-edit').find("button").attr("disabled", "disabled");
              $("#dialog-edit-error").parent().slideUp();

              // Grab the award ID from the dialog
              var id = editDialog.attr("data-id");

              // Send through the AJAX request
              var formData = new FormData(this);
              $.ajax({
                  url: "{{ path('itemPost') }}",
                  type: 'POST',
                  data: formData,
                  contentType: false,
                  processData: false
              }).success(function (response) {
                  if (response.success) {
                      window.location.reload();
                  } else {
                      $("#dialog-edit-status").hide();
                      $("#dialog-edit").find("button").removeAttr("disabled");
                      $("#dialog-edit-error")
                          .html("<strong>Error:</strong> " + response.error)
                          .parent().fadeIn("fast");

                      currentlySubmitting = false;
                  }
              }, "json");
          });

          $("#dialog-edit-delete").click(function () {
              if (currentlySubmitting) {
                  return;
              } else if (!confirm("Are you sure you want to just fuck this item up?")) {
                  return;
              }

              currentlySubmitting = true;
              // Show the "please wait" message and disable the submit button
              $("#dialog-edit-status").show();
              $("#dialog-edit").find("button").attr("disabled", "disabled");
              $("#dialog-edit-error").parent().slideUp();

              var data = [
                  {name: "action", value: "delete"},
                  {name: "id", value: editDialog.attr("data-id")}
              ];

              $.post("{{ path('itemPost') }}", data, function (response) {
                  if (response.success) {
                      window.location.reload();
                  } else {
                      $("#dialog-edit-status").hide();
                      $("#dialog-edit").find("button").removeAttr("disabled");
                      $("#dialog-edit-error")
                          .html("<strong>Error:</strong> " + response.error)
                          .parent().fadeIn("fast");

                      currentlySubmitting = false;
                  }
              }, "json");

          });
      });
  </script>

  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Lootbox Reward Manager
        <button class="btn btn-primary pull-right" id="new-award" type="button" data-toggle="modal" data-target="#dialog-edit">
          <span class="glyphicon glyphicon-plus"></span> Add a new reward
        </button>
      </h1>

      <div class="inventory-container">
        {% for item in items %}
          <div class="inventory-item" data-toggle="modal" data-target="#dialog-edit" data-id="{{ item.id }}">
            <img src="{{ item.image }}">
            <div class="item-name">{{ item.name }}</div>
            <div class="item-rarity">Change: {{ item.rarity }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="dialog-edit" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" id="dialog-edit-form" enctype="multipart/form-data">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            <h4 class="modal-title" id="dialog-edit-header">Add a new reward</h4>
          </div>

          <div class="modal-body">
            <div class="alert alert-danger" style="display: none;">
              <span id="dialog-edit-error"></span>
              <a class="close" href="#">&times;</a>
            </div>

            <script>
                $('.alert-danger .close').on('click', function () {
                    $(this).parent().fadeOut("fast");
                });
            </script>

            <input type="hidden" id="info-action" name="action">
            <input type="hidden" id="info-id" name="id">

            <div class="form-group">
              <label class="col-xs-3 control-label" for="info-short-name">ID</label>
              <div class="col-xs-8">
                <input class="form-control" type="text" id="info-short-name" placeholder="straya" required
                       name="short-name">
                <span class="help-block">Must consist of lowercase letters and dashes only.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="info-name">Name</label>
              <div class="col-xs-8">
                <input class="form-control" type="text" id="info-name" placeholder="The Power of Shitposting" required
                       name="name" maxlength="50">
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="info-rarity">Chance</label>
              <div class="col-xs-8">
                <input class="form-control" type="number" id="info-rarity" name="rarity" min="0" max="10" placeholder="10" required
                 style="width: 100px;">
                <span class="help-block">Chance is linear and is between 0 and 10. An item of chance 0 will never be shown.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="info-type">Type</label>
              <div class="col-xs-8">
                <select class="form-control" id="info-type" name="type" required>
                  <option value="none">None (no effect)</option>
                  <option value="css">CSS</option>
                  <option value="buddie">Buddie</option>
                  <option value="music">Music</option>
                </select>
                <span class="help-block">Before adding a CSS, buddie, or music reward, contact Clamburger to have it implemented.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="info-image">Image</label>
              <div class="col-sm-8">
                <input class="form-control" type="file" id="info-image" name="image" autocomplete="off">
                <span class="help-block">Required image dimensions: <strong>200 x 200</strong></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" id="dialog-edit-delete" style="float: left;" type="button">
              <img src="{{ asset('img/delete-this.png') }}" class="delete-this">
              Delete this
            </button>
            <span id="dialog-edit-status" style="display: none;">
              <img src='{{ asset('img/loading.gif') }}' style="width: 16px;"> saving...&nbsp;
            </span>
            <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      var items = {{ items | json_encode | raw }};
  </script>
{% endblock %}
