{% extends 'base/standard.html.twig' %}

{% block title %}Lootbox Manager{% endblock %}

{% block css %}
  <style type="text/css">
    #dialog-edit-delete {
      position: relative;
      padding-left: 46px;
    }

    img.delete-this {
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      position: absolute;
    }


    .inventory-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    .inventory-item {
      width: 150px;
      margin: 5px;
      padding: 5px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
      background-color: #fff;
      cursor: pointer;
    }

    .inventory-item:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
      transform: translateY(-10px);
    }

    .inventory-item img {
      width: 100%;
    }

    .item-name {
      margin-top: 5px;
      text-align: center;
      flex-grow: 1;
      color: black;
      font-size: 18px;
    }

    .item-rarity {
      flex-grow: 1;
      font-weight: normal;
      font-style: italic;
      padding-top: 5px;
      width: 100%;
    }

    .item-type {
      margin-top: 5px;
      text-align: center;
      width: 100%;
    }

    .item-year {
      flex-grow: 1;
    }

    #info-drop-chance-override {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  </style>
{% endblock %}

{% block js %}
  {{ parent() }}

  <script src='{{ asset('js/utils.js') }}'></script>

  <script type="text/javascript">
      $(document).ready(function () {
          var editDialog = $("#dialog-edit");
          var currentlySubmitting = false;

          function getAbsoluteDropChance () {
              if (!$('#info-tier').val()) {
                  return;
              }

              if ($('#info-override-drop-chance').prop('checked')) {
                  if (!$('#info-drop-chance-relative')[0].checkValidity() || !$('#info-drop-chance-absolute')[0].checkValidity()) {
                      return;
                  }
              }

              $('#dialog-edit .absolute-drop-chance').html('<i class="fas fa-spinner fa-spin fa-fw"></i>');

              $.ajax({
                  url: "{{ path('lootboxItemCalculation') }}",
                  type: 'POST',
                  data: {
                      id: $('#info-id').val(),
                      tier: $('#info-tier').val(),
                      dropChanceOverride: $('#info-override-drop-chance').prop('checked'),
                      dropChance: $('#info-drop-chance-relative').val(),
                      absoluteDropChance: $('#info-drop-chance-absolute').val()
                  }
              }).fail(() => {
                  $('#dialog-edit .absolute-drop-chance').text('Error');
              }).done(data => {
                  if (!data.success) {
                      $('#dialog-edit .absolute-drop-chance').text('Error');
                  } else {
                      const denominator = Math.round(1 / data.absoluteDropChance);
                      $('#dialog-edit .absolute-drop-chance').text((data.absoluteDropChance * 100).toFixed(5) + '% (~1 in ' + denominator + ')');
                  }
              });
          }

          const getAbsoluteDropChanceDebounced = debounce(getAbsoluteDropChance, 250);

          $('#info-drop-chance-relative').change(getAbsoluteDropChanceDebounced);
          $('#info-drop-chance-absolute').change(getAbsoluteDropChanceDebounced);
          $('#info-override-drop-chance').change(getAbsoluteDropChanceDebounced);
          $('#info-tier').change(getAbsoluteDropChanceDebounced);

          editDialog.on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var id = button.attr('data-id');

              if (id === undefined) {
                  // New item
                  editDialog.removeAttr('data-id');
                  $("#dialog-edit-header").text("Add a new lootbox reward");

                  // Clear any existing information in the dialog
                  $("#info-id").val("");
                  $("#code-id").text("reward-");
                  $("#info-action").val("new");
                  editDialog.find("input[type=text]").val("");
                  editDialog.find("input[type=number]").val("");
                  editDialog.find("input[type=file]").val("");
                  editDialog.find("input[type=checkbox]").prop("checked", false);
                  $("#dialog-edit-delete").hide();

                  $("#info-override-drop-chance").prop("checked", false);

                  $("#info-musicFile-container").hide();
                  $("#info-cssContents-container").hide();
                  $("#info-drop-chance-override").hide();

              } else {
                  // Editing an existing advert
                  editDialog.attr('data-id', id);
                  var item = items[id];

                  $("#dialog-edit-header").text(item.name);
                  $("#deleteAward").show();
                  $("#info-id").val(id);
                  $("#code-id").text("reward-" + item.shortName);
                  $("#info-action").val("edit");
                  $("#info-short-name").val(item.shortName);
                  $("#info-name").val(item.name);
                  $("#info-override-drop-chance").prop("checked", item.dropChance !== null || item.absoluteDropChance !== null);
                  $("#info-drop-chance-relative").val(item.dropChance);
                  $("#info-drop-chance-absolute").val(item.absoluteDropChance ? item.absoluteDropChance * 100 : '');
                  $("#info-css").prop("checked", item.css);
                  $("#info-buddie").prop("checked", item.buddie);
                  $("#info-music").prop("checked", item.music);
                  $("#info-cssContents").val(item.cssContents);
                  $("#info-tier").val(item.tier);

                  editDialog.find("input[type=file]").val("");

                  $("#info-musicFile-container").toggle(item.music);
                  $("#info-cssContents-container").toggle(item.css);
                  $("#info-drop-chance-override").toggle(item.dropChance !== null || item.absoluteDropChance !== null);

                  getAbsoluteDropChance();
              }
          });

          $("#info-short-name").change(function (event) {
              $("#code-id").text("reward-" + $(this).val());
          });

          $("#info-css").change(function (event) {
              $("#info-cssContents-container").toggle($("#info-css").prop('checked'));
          });

          $("#info-music").change(function (event) {
              $("#info-musicFile-container").toggle($("#info-music").prop('checked'));
          });

          $("#info-override-drop-chance").change(function(event) {
              $("#info-drop-chance-override").toggle($("#info-override-drop-chance").prop('checked'));
          });

          $("#dialog-edit-form").submit(function (event) {
              event.preventDefault();

              if (currentlySubmitting) {
                  return;
              }
              currentlySubmitting = true;

              // Show the "please wait" message and disable the submit button
              $("#dialog-edit-status").show();
              $('#dialog-edit').find("button").attr("disabled", "disabled");
              $("#dialog-edit-error").parent().slideUp();

              // Grab the award ID from the dialog
              var id = editDialog.attr("data-id");

              // Send through the AJAX request
              var formData = new FormData(this);
              $.ajax({
                  url: "{{ path('lootboxItemPost') }}",
                  type: 'POST',
                  data: formData,
                  contentType: false,
                  processData: false
              }).done(function (response) {
                  if (response.success) {
                      window.location.reload();
                  } else {
                      $("#dialog-edit-status").hide();
                      $("#dialog-edit").find("button").removeAttr("disabled");
                      $("#dialog-edit-error")
                          .html("<strong>Error:</strong> " + response.error)
                          .parent().fadeIn("fast");

                      currentlySubmitting = false;
                  }
              }, "json");
          });

          $("#dialog-edit-delete").click(function () {
              if (currentlySubmitting) {
                  return;
              } else if (!confirm("Are you sure you want to just fuck this item up?")) {
                  return;
              }

              currentlySubmitting = true;
              // Show the "please wait" message and disable the submit button
              $("#dialog-edit-status").show();
              $("#dialog-edit").find("button").attr("disabled", "disabled");
              $("#dialog-edit-error").parent().slideUp();

              var data = [
                  {name: "action", value: "delete"},
                  {name: "id", value: editDialog.attr("data-id")}
              ];

              $.post("{{ path('lootboxItemPost') }}", data, function (response) {
                  if (response.success) {
                      window.location.reload();
                  } else {
                      $("#dialog-edit-status").hide();
                      $("#dialog-edit").find("button").removeAttr("disabled");
                      $("#dialog-edit-error")
                          .html("<strong>Error:</strong> " + response.error)
                          .parent().fadeIn("fast");

                      currentlySubmitting = false;
                  }
              }, "json");

          });
      });

      $('.alert-danger .btn-close').on('click', function () {
          $(this).parent().fadeOut("fast");
      });
  </script>
{% endblock %}

{% block containerClass %}container-fluid{% endblock %}

{% block beforeContainer %}
  {% include 'parts/itemAdminBar.twig' %}
{% endblock %}

{% block content %}
  <h1 class="page-header board-header">Lootbox Items</h1>

  <div class="text-center">
    <button class="btn btn-sm btn-primary" id="new-award" type="button" data-bs-toggle="modal" data-bs-target="#dialog-edit">
      <i class="fal fa-fw fa-plus"></i> Add a new reward
    </button>
  </div>

  {% for tier in tiers %}
  <h2 style="border-bottom: 3px solid {{ tier.color }}; padding-bottom: 8px;">
    {{ tier.name }}
    <small class="text-muted">
      ({{ 0 + tier.dropChance }})
    </small>
  </h2>

  <div class="inventory-container">
    {% for item in tier.items %}
      <div class="inventory-item" data-bs-toggle="modal" data-bs-target="#dialog-edit" data-id="{{ item.id }}">
        <img src="{{ item.image.url }}">
        <div class="item-type">
          <div class="badge badge-light text-black">{{ item.year }}</div>
          {% if item.css %}
            <div class="badge bg-primary">CSS</div>
          {% endif %}
          {# {% if item.buddie %}
            <div class="badge bg-success">Buddie</div>
          {% endif %} #}
          {% if item.music %}
            <div class="badge bg-danger">Music</div>
          {% endif %}
          {% if not item.css and not item.buddie and not item.music %}
            <div class="badge bg-secondary">None</div>
          {% endif %}
        </div>
        <div class="item-name">{{ item.name }}</div>
        <div class="item-rarity">
          {% if item.dropChance != null %}
            Override: {{ 0 + item.dropChance }}
          {% elseif item.absoluteDropChance != null %}
            Override: {{ 0 + item.absoluteDropChance * 100 }}%
          {% else %}
            Standard chance
          {% endif %}
        </div>
      </div>
    {% else %}
      There are no items in this tier.
    {% endfor %}
  </div>
  {% endfor %}


  <div id="dialog-edit" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" id="dialog-edit-form" enctype="multipart/form-data">
          <div class="modal-header">
            <h4 class="modal-title" id="dialog-edit-header">Add a new reward</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="alert alert-dismissible alert-danger" style="display: none;">
              <span id="dialog-edit-error"></span>
              <button type="button" class="btn-close"></button>
            </div>

            <input type="hidden" id="info-action" name="action">
            <input type="hidden" id="info-id" name="id">

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="info-short-name">ID</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="info-short-name" placeholder="straya" required
                       name="short-name">
                <small class="form-text">Must consist of lowercase letters and dashes only.</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="info-name">Name</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="info-name" placeholder="The Power of Shitposting" required
                       name="name" maxlength="50">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="info-tier">Tier</label>
              <div class="col-sm-9">
                <select class="form-select" id="info-tier" name="tier" required>
                  {% for tier in tiers %}
                    <option value="{{ tier.id }}">{{ tier.name }} ({{ 0 + tier.dropChance }})</option>
                  {% endfor %}
                </select>
                <small class="form-text d-block"><strong>Absolute drop chance for item:</strong> <span class="absolute-drop-chance">0.00%</span></small>
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="info-override-drop-chance" name="drop-chance-override">
                  <label class="form-check-label" for="info-override-drop-chance">Override drop chance</label>
                </div>
              </div>
            </div>

            <div id="info-drop-chance-override" style="display: none;" class="bg-light">
              <hr>

              <div style="margin-left: 1rem; margin-right: 1rem;">
                <div class="form-group row text-danger">
                  <div class="col-sm-3 col-form-label">
                    Drop Chance
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-5">
                        <label for="info-drop-chance-relative"><small class="form-text">Relative</small></label>
                        <input class="form-control" type="number" id="info-drop-chance-relative" name="drop-chance-relative" min="0" max="99999.99999" step="any">
                      </div>
                      <div class="col-sm-6">
                        <label for="info-drop-chance-absolute"><small class="form-text">Absolute</small></label>
                        <div class="input-group">
                          <input class="form-control" type="number" id="info-drop-chance-absolute" name="drop-chance-absolute" min="0" max="100" step="any">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                    </div>
                    <small>Drop chance overrides should be used sparingly.</small>
                  </div>
                </div>
              </div>

              <hr>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="info-image">Image</label>
                <div class="col-sm-9">
                  <input type="file" id="info-image" name="image" class="form-control">
                  <small class="form-text">Required image dimensions: <strong>200 x 200</strong></small>
                </div>
            </div>

            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="info-css" name="css">
                  <label class="form-check-label" for="info-css">Custom CSS</label>
                </div>
              </div>
            </div>

{#            <div class="form-group row">#}
{#                <div class="offset-sm-3 col-sm-9">#}
{#                  <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" id="info-buddie" name="buddie">#}
{#                    <label class="form-check-label" for="info-buddie">Buddie</label>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="info-music" name="music">
                    <label class="form-check-label" for="info-music">Music</label>
                  </div>
                </div>
            </div>

            <div class="form-group row" id="info-cssContents-container">
              <label class="col-sm-3 col-form-label" for="info-cssContents">CSS contents</label>
              <div class="col-sm-9">
                <textarea name="cssContents" id="info-cssContents" class="form-control" style="font-size: 9px; font-family: monospace" rows="4"></textarea>
                <small class="form-text">When this reward is equipped, the class <code id="code-id"></code> will be added to the root HTML element.</small>
              </div>
            </div>

            <div class="form-group row" id="info-musicFile-container">
                <label class="col-sm-3 col-form-label" for="info-musicFile">Music file</label>
                <div class="col-sm-9">
                  <input type="file" id="info-musicFile" name="musicFile" class="form-control">
                  <small class="form-text">Required file type: <strong>.ogg</strong></small>
                </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-danger me-auto" id="dialog-edit-delete" type="button">
              <img src="{{ asset('img/delete-this.png') }}" class="delete-this" alt="A picture of Counter pointing a gun at you, the viewer">
              Delete this
            </button>
            <span id="dialog-edit-status" style="display: none;">
                <i class="far fa-circle-notch fa-spin me-1"></i> saving...&nbsp;
              </span>
            <button class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" id="dialog-edit-submit" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      const items = {{ items | json_encode | raw }};
      const tiers = {{ tiers | json_encode | raw }};
  </script>
{% endblock %}
