{% extends 'base/special.html.twig' %}

{% block title %}Fantasy League - Rules{% endblock %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/voting.css') }}?v=25">
  <link rel="stylesheet" href="{{ asset('css/votingNominees.css') }}">

  <style>
    .awardHeaderContainer {
      height: auto;
      background-size: contain;
      margin: 0 0 20px 0;
      padding: 25px 0 20px;
    }

    .pageHeader h2 {
      padding: 0 40px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="pageHeader">
    <a class="pageHeaderLogo" href="{{ path('voting') }}">
      <img src="{{ asset('2018images/vga2018_logo.png') }}" class="logo" alt="oh god it's happening again"/>
    </a>
    <div class="pageHeaderTitle">
      <h1>The Vidya Gaem2019 <span style="text-transform: none;">/v/GA</span> Fantasy League</h1>
      <div class="d-flex justify-content-around">
        {% if configService.config.isPagePublic('results') %}
          <a href="{{ path('winners') }}"><h2>Award Results</h2></a>
        {% else %}
          <a href="{{ path('voting') }}"><h2>Back to voting</h2></a>
        {% endif %}
        {% if app.user.fantasyUser or not predictionService.arePredictionsLocked %}
          <a href="{{ path('predictions') }}" class="{{ page == 'picks' and viewingOwn | default(false) ? 'active' : '' }}">
            <h2>{{ app.user.fantasyUser ? 'Your picks' : 'Sign up' }}</h2>
          </a>
        {% endif %}
        {% if is_granted('ROLE_VOTING_RESULTS') or configService.config.isPagePublic('predictionLeaderboard') %}
          <a href="{{ path('predictionLeaderboard') }}" class="{{ page == 'leaderboard' ? 'active' : '' }}"><h2>Leaderboard</h2></a>
        {% endif %}
        <a href="{{ path('predictionRules') }}" class="{{ page == 'rules' ? 'active' : '' }}"><h2>Rules</h2></a>
      </div>
  	</div>
  </div>

  {#<div class="awardHeader">#}
    {#<div class="awardHeaderContainer">#}
      {#<div class="awardName">{% block fantasyTitle %}{% endblock %}</div>#}
    {#</div>#}
  {#</div>#}

  <div class="memeContainer">
    <div id="wrapper">
      {% block subBody %}{% endblock %}
    </div>
  </div>
{% endblock %}
