{% extends 'base/master.html.twig' %}

{% block fullTitle '2020 Vidya Gaem Awards' %}

{% block head %}
  <style type="text/css">
    body {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    @keyframes title {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes award {
      0% {
        opacity: 0;
        transform: translateX(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    #title {
      opacity: 0;
      animation: {{ fastAnimations ? '2s' : '2s' }} ease-out forwards title;
    }

    #awardList .award {
      opacity: 0;
    }

    .animate-in {
      opacity: 0;
      animation: {{ fastAnimations ? '1s' : '2s' }} ease-out {{ fastAnimations ? '0ms' : '6s' }} forwards appear;
    }

    .animate-in-delay {
      opacity: 0;
      animation: {{ fastAnimations ? '1s' : '2s' }} ease-out {{ fastAnimations ? '0s': '7s' }} forwards appear;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
        $('.award').each(function(index){
            $(this).css({
                'animation': '1s ease-out ' + (index * {{ fastAnimations ? 0 : 75 }} + {{ fastAnimations ? 1000 : 2000 }}) + 'ms forwards award'
            });
        });
    });
  </script>
{% endblock %}

{% block css %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="font-size: 80px; line-height: 77px; font-weight: 100;" id="title">
          <div style="margin-bottom: 30px;">
            DON'T GET SPOOKED.
          </div>
          <div style="margin-bottom: 30px;">
            THE /v/GAs ARE ON THEIR WAY.
          </div>
        </div>
        <div style="font-size: 30px; margin-top: 80px;" class="animate-in">
          The 2020 /v/GAs. Arriving later this year.
        </div>
        <div style="font-size: 30px; margin-top: 80px;" class="animate-in">
          <a href="http://discord.gg/4e8JQB4">http://discord.gg/4e8JQB4</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
