{% extends 'base/master.html.twig' %}

{% block fullTitle '2023 Vidya Gaem Awards' %}

{% block head %}
  <style type="text/css">
    body {
      background: #CF282F;
      font-family: 'Sedgwick Ave', sans-serif;
      color: black;
      font-weight: 300;
    }

    a {
      color: #F0961F;
    }

    a:hover {
      color: #F2B561;
    }

    @keyframes title {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes award {
      0% {
        opacity: 0;
        transform: translateX(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    #title {
      opacity: 0;
      animation: {{ fastAnimations ? '2s' : '2s' }} ease-out forwards title;
      font-family: "Sedgwick Ave Display", sans-serif;
    }

    #awardList .award {
      opacity: 0;
    }

    .animate-in {
      opacity: 0;
      animation: {{ fastAnimations ? '1s' : '2s' }} ease-out {{ fastAnimations ? '0ms' : '6s' }} forwards appear;
    }

    .animate-in-delay {
      opacity: 0;
      animation: {{ fastAnimations ? '1s' : '2s' }} ease-out {{ fastAnimations ? '0s': '7s' }} forwards appear;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
        $('.award').each(function(index){
            $(this).css({
                'animation': '1s ease-out ' + (index * {{ fastAnimations ? 0 : 75 }} + {{ fastAnimations ? 1000 : 2000 }}) + 'ms forwards award'
            });
        });
    });
  </script>
{% endblock %}

{% block css %}
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12" style="text-align: center;">

        <img src="{{ asset('2022images/logo.png') }}" style="width: 600px; margin: 0 auto; max-width: 100%;" class="mb-4">

        <div style="font-size: 80px; line-height: 77px; margin-top: 40px;" id="title">
          <div style="margin-bottom: 30px;">
            The 2023 /v/GAs
          </div>
          <div style="font-size: 50px; margin-top: 30px;" class="animate-in">
            Coming soon to a wall near you
          </div>
        </div>
        <div style="font-size: 30px; margin-top: 60px;" class="animate-in">
          <a href="http://discord.gg/4e8JQB4">http://discord.gg/4e8JQB4</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
