{% extends 'base/standard.html.twig' %}

{% block css %}
  {{ parent() }}

  <style type="text/css">
    .referrer {
      overflow: hidden;
    }
  </style>
{% endblock %}

{% block content %}
  <h1 class="display-4">
    Referrers
  </h1>

  <nav>
    <ol class="breadcrumb">
      {% for days in [1, 3, 7, 14, 30, 'all'] %}
        <li class="breadcrumb-item {{ loop.parent.days == days ? 'active' : '' }}">
          <a href="{{ path('referrers', {'days': days}) }}">
            {{ days == 'all' ? 'All time' : (days ~ ' day' ~ (days == 1 ? '' : 's')) }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>

  <table class="table table-bordered table-striped" style="background-color: white;">
    <thead>
    <tr>
      <th style="width: 120px;">Total hits</th>
      <th style="width: 140px;">Latest hit</th>
      <th style="width: 140px;">Link</th>
      <th>Referrer</th>
    </tr>
    </thead>
    {% for referrer in referrers %}
      <tr class="{{ referrer.class }}">
        <td><strong>{{ referrer.total }}</strong></td>
        <td><abbr title="{{ referrer.latest | date('D d/m/Y - H:i:s') }}">{{ (referrer.latest | carbon).fromNow }}</abbr></td>
        <td>
          {% if referrer.type == 'android' %}
            <a href="https://play.google.com/store/apps/details?id={{ referrer.referer | escape('html_attr') }}">Play Store</a>
          {% elseif referrer.type == 'twitter' %}
            <a href="https://twitter.com/search?q={{ referrer.referer | url_encode }}">Twitter search</a>
          {% elseif referrer.referer starts with 'http' %}
            <a href="{{ referrer.referer | escape('html_attr') }}">Follow link</a>
          {% endif %}
        </td>
        <td class="referrer">
          {% if referrer.type == 'android' %}
            <strong>Android app:</strong>
          {% endif %}
          {% if referrer.referer | length > 75 %}
            {{ referrer.referer | slice(0,74) ~ '…' }}
          {% else %}
            {{ referrer.referer }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
