{% extends 'base/standard.html.twig' %}

{% block content %}
  <style type="text/css">
    .table {
      background: white;
    }

    .position-1 {
      color: #c2a939;
    }

    .position-2 {
      color: #a9acc3;
    }

    .position-3 {
      color: #a77334;
    }

    .table-success .position {
      color: black;
    }
  </style>

  <h1 class="display-4">Detailed results</h1>
  <hr>

  <div class="card-deck mb-4">
    <div class="card">
      <h5 class="card-header">The results you've been waiting for</h5>
      <div class="card-body">
        <p>
          Here are the detailed results for the 2020 /v/GAs. Although we only use votes from 4chan in our official
          results, we include the results of other websites here for your amusement.
        </p>
        <p class="mb-0">
          If all you want is the official results for each award, you can get those on the
          <a href="{{ path('winners') }}">winners&nbsp;page</a>. If you want to see the results in even <em>more</em>
          detail, you can view the <a href="{{ path('pairwiseResults') }}">pairwise voting results</a>.
        </p>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">What are Sweep Points™?</h5>
      <div class="card-body">
        The Schulze method doesn't allow for exact vote counts for each nominee, so instead we calculate Sweep
        Points™ as a way to see how much the winners won by.
        It may give unexpected results for low vote counts.
      </div>
      <div class="card-footer">
        <a href="https://youtu.be/i_UG-IKNzIQ" target="_blank">Watch the tutorial <i class="fas fa-external-link-alt fa-xs"></i></a>
        <small class="text-muted">a sweep point is a sweep point, you can't say it's only half</small>
      </div>
    </div>
  </div>

  {% for award in awards %}
    <h2 id="{{ award.id }}">
      {{ award.name }}
      <small class="text-muted">
        {{ award.subtitle }}
      </small>
      <div class="float-right">
        <a href="#{{ award.id }}" title="Direct link to this result"><i class="fas fa-link fa-xs"></i></a>
      </div>
    </h2>

    {% if not results[award.id] %}
      <div class="alert alert-info">
        <i class="fas fa-info-circle mr-1"></i> Results for this award are not yet available.
      </div>
    {% elseif sweepPoints %}

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th>Rank</th>
            <th>Nominee</th>
            <th>Sweep Points</th>
            <th>Prediction Stats</th>
          </tr>
          </thead>
          <tbody>
          {% set result = award.getOfficialResults %}
          {% for nominee in result.results %}
            <tr>
              <th style="width: 100px;">{{ loop.index }}</th>
              <td class="position position-{{ loop.index }}">{{ nominees[award.id][nominee].name }}</td>
              <td style="width: 200px;">
                {% if result.steps['sweepPoints'][nominee] | default(0) > 0 %}
                  {{ result.steps['sweepPoints'][nominee] | round(0, 'floor') }}
                {% endif %}
              </td>
              <td style="width: 200px;">
                {% set predictionCount = nominees[award.id][nominee].fantasyPredictions | length %}
                {{ predictionCount }} {{ predictionCount != 1 ? 'predictions' : 'prediction' }}
                {% if award.fantasyPredictions | length > 0 %}
                  ({{ ((predictionCount / award.fantasyPredictions | length) * 100) | round(0) }}%)
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}

      <div class="table-responsive mb-2">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th style="width: 18%;"></th>
            <th>1<sup>st</sup> Place</th>
            <th>2<sup>nd</sup> Place</th>
            <th>3<sup>rd</sup> Place</th>
          </tr>
          </thead>
          <tbody>
          {% for filter, result in results[award.id] %}
            {% if result.votes > 0 %}
              <tr class="{{ filters[filter] == '4chan' ? 'table-success' : '' }}">
                <th>
                  {{ filters[filter] }}<br>
                  <small>{{ result.votes }} votes {{ filters[filter] == '4chan' ? '&ndash; official results' : '' }}</small>
                </th>
                {% for nominee in result.results[:3] %}
                  <td>
                    {{ nominees[award.id][nominee].name }}<br>
                    <small class="position position-{{ loop.index }}">{{ result.steps['sweepPoints'][nominee] | round(0, 'floor') }} Sweep Points™</small>
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
