{% extends 'base/standardThemed.html.twig' %}

{% block title 'Soundtrack' %}

{% block content %}
  <style type="text/css">
    h1 {
      /*text-shadow: rgba(0, 235, 219, 0.5) 1px 1px 5px;*/
      text-align: center;
      margin-top: 10px;
    }

    #mainContainer a {
      background-color: rgb(251,68,7);
      border-radius: 15px;
      color: white;
      padding: 5px 15px;
      box-shadow: 2px 2px black;
      text-shadow: 1px 1px black;
    }

    #mainContainer a:hover {
      text-decoration: underline;
    }

    .album-art {
      width: 300px;
      max-width: 300px;
      margin: 0 auto 10px auto;
      transition: all 0.3s ease-in-out;
      box-shadow: 3px 3px 1px black;
    }

    .download-now {
      margin: 20px;
    }

    .download-now a {
      font-size: 38px;
      font-weight: normal;
      line-height: 0.95em;
    }

    #track-list {
      max-width: 900px;
      margin: 25px auto 0;

      font-family: "Trajan Pro 3", serif;
      background: rgba(0,0,0,0.4);
      border: 1px solid #fec544;
    }

    #track-list td {
      border: none;
      text-shadow: 1px 1px black;
    }

    #track-list td:nth-child(1) {
      color: #fec544;
      /*color: white;*/
    }

    #track-list td:nth-child(2) {
      /*color: yellow;*/
    }

    #track-list td:nth-child(3) {
      color: #fec544;
      font-style: italic;
    }

    #track-list .line-after td {
      border-bottom: 1px solid #fec544;
      padding-bottom: 15px;
    }

    #track-list .line-before td {
      border-top: 1px solid #fec544;
      padding-top: 15px;
    }
  </style>

  <div class="pageHeader">
    <div class="pageHeaderLogo">
      <img src="/2018images/vga2018_logo.png" class="logo" alt="oh god it's happening again">
    </div>
    <div class="pageHeaderTitle">
      <h1>The 2018 Vidya Gaem Awards</h1>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-12">
      <div style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; max-width: 300px;">
        <img src="{{ asset('2018images/soundtrack_cover.jpg') }}" alt="Album art" class="img-responsive album-art">
      </div>
      {#<p class="text-center" style="margin-top: 10px; color: white; font-size: 14px;">#}
        {#<a href="https://vidyagaemawards.com/music/2017-vga-preshow-mixes.zip">Download preshow music</a>#}
      {#</p>#}

      <table class="table" id="track-list">
        {% for track in tracks %}
          <tr class="{{ loop.index == 1 ? 'line-before' }}">
            <td>{{ loop.index }}.</td>
            <td>{{ track[0] }}</td>
            <td>{{ track[1] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
