{% extends 'base/standardThemed.html.twig' %}

{% block title 'Soundtrack' %}

{% block css %}
  {{ parent() }}

  <style type="text/css">
      h1 {
          /*text-shadow: rgba(0, 235, 219, 0.5) 1px 1px 5px;*/
          text-align: center;
          margin-top: 10px;
      }

      .album-art {
          max-width: 500px;
          /*margin: 0;*/
          /*transition: all 0.3s ease-in-out;*/
          /*box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);*/
      }

      .download-now {
          margin: 20px;
      }

      .download-now a {
          font-size: 38px;
          font-weight: normal;
          line-height: 0.95em;
      }

      #track-list {
          max-width: 900px;
          margin: 25px auto 0;

          /*font-family: "Dot Matrix", sans-serif;*/
          /*font-size: 14px;*/

          /*background-image: url(/2020images/cardbg.png);*/
          /*box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);*/
          /*border-radius: 5px;*/
          /*padding: 10px;*/

          background: url(/2022images/bgwhite.jpg) repeat,#dedede;
          border-color: #fff;
          border-style: ridge;
          border-width: 3px;
          padding: 12px 8px;
          color: black;
          font-family: jet set, sans-serif;
          font-size: 16px;
      }

      #track-list td {
          border: none;
          padding: .25rem .75rem;
          /*text-shadow: 1px 1px black;*/
      }

      #track-list td:nth-child(1) {
          /*font-family: "Dot Matrix", sans-serif;*/
          font-weight: bold;
          color: black;
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*color: white;*/
      }

      #track-list td:nth-child(2) {
          /*color: yellow;*/
      }

      #track-list td:nth-child(3) {
          /*color: #fec544;*/
          /*font-family: "Dot Matrix", sans-serif;*/
          text-decoration: none;
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*text-shadow: #00000080 3px 3px 3px;*/

          /*color: #fec544;*/
      }

      #track-list .line-after td {
          /*border-bottom: 1px solid #fec544;*/
          padding-bottom: 15px;
      }

      #track-list .line-before td {
          /*border-top: 1px solid #fec544;*/
          padding-top: 15px;
      }

      .track-title {
          transition: all 0.2s ease-in-out;
          color: #cf282f;
          text-shadow: 1px 1px 2px #f0961f;
          /*font-family: "OratorStd", "Courier New", serif;*/
          margin-left: 10px;
      }

      .preshow-download a {
          /*background: rgb(0, 0, 0);*/
          /*border: 2px solid #f81317;*/
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*text-shadow: #f29823 0 0 3px;*/
          /*color: #f29823;*/
          padding: 8px 20px;
          /*cursor: pointer;*/
          margin-top: 10px;
          font-size: 26px;
          font-weight: bold;
      }

      .soon {
          font-family: "Dot Matrix", sans-serif;
          font-weight: bold;
          font-size: 30px;
      }
  </style>
{% endblock %}

{% block content %}

  <div class="center-container">

{#    <div style="text-align: center;">#}
{#        <img src="{{ asset('2021images/album.jpg') }}" alt="Album art" class="img-responsive album-art">#}
{#    </div>#}

    {#    <p class="text-center preshow-download" style="">#}
{#      <a href="https://vidyagaemawards.com/music/2020-vga-preshow-mixes.zip" class="btn">Download preshow music (105 MB)</a>#}
{#    </p>#}

{#    <p class="text-center soon">Full tracklist coming soon</p>#}

    <table class="table" id="track-list">
      {% for track in preshow %}
        <tr class="{{ loop.index == 1 ? 'line-before' }}">
          <td></td>
          <td><span class="track-title">{{ track[0] }}</span> <span class="artist">{{ track[1] }}</span></td>
          <td>{{ track[2] }}</td>
        </tr>
      {% endfor %}
      {% for track in tracks %}
        <tr class="{{ loop.index == 1 ? 'line-before' }}">
          <td>#{{ loop.index }}</td>
          <td><span class="track-title">{{ track[0] }}</span> <span class="artist">{{ track[1] }}</span></td>
          <td>{{ track[2] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
