{% extends 'base/standard.html.twig' %}

{% block content %}
  <style type="text/css">
    .progress {
      height: 30px;
      margin-bottom: 30px;
      line-height: 30px;
      font-size: 14px;
    }

    .progress-bar {
      line-height: 30px;
      font-size: 14px;
    }
  </style>

  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Remaining Tasks
      </h1>
      {% for name, data in tasks %}
        <div class="col-xs-4">
          <p>
            <strong>{{ name }}</strong>
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-{{ data.class }}" style="width: {{ data.percent }}%">
              {% if data.percent >= 35 %}
                {{ data.count }} / {{ data.total }} ({{ data.percent | round(1) }}%)
              {% endif %}
            </div>
            {% if data.percent < 35 %}
              <span style="margin-left: 7px;" class="text-{{ data.class }}">
                {{ data.count }} / {{ data.total }} ({{ data.percent | round(1) }}%)
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
