{% extends 'base/standard.html.twig' %}

{% block head %}
  <style type="text/css">
    #games td {
      text-align: center;
    }

    .pc {
      background-color: rgb(10, 10, 10);
      color: white;
    }

    .vr {
      background-color: #b63438;
      color: white;
    }

    .sony {
      background-color: rgb(0, 64, 152);
      color: white;
    }

    .microsoft {
      background-color: rgb(17, 125, 16);
      color: white;
    }

    .nintendo {
      background-color: rgb(127, 127, 127);
      color: white;
    }

    .yes {
      display: block;
    }

    #games {
      border-color: black;
      border-radius: 0;
    }

    thead th {
      background-color: white;
      border-bottom: 2px black solid;
    }

    #games td, thead th {
      border-radius: 0 !important;
    }

    #games .divider {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    #games {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .notable {
      font-weight: bold;
    }

    #new-game input[type=checkbox] {
      width: 100%;
      height: 25px;
    }

    #new-game td {
      vertical-align: middle;
    }

    .game-container {
      margin-left: 0;
    }

    .game-container .col-sm-2 {
      display: flex;
      padding-left: 0;
    }

    .game-container .card {
      flex-grow: 1;
    }

    .title {
      font-weight: 500;
    }

    .small-title {
      font-size: small;
    }

    .game {
      padding: 0.75rem 1rem;
      display: flex;
      flex-direction: column;
    }

    .fa-windows {
      color: #2BA8E1;
    }

    .fa-android {
      color: #93C04A;
    }

    .fa-xbox {
      color: #187B18;
    }

    .fa-playstation {
      color: #2A32AD;
    }

    .fa-nintendo-switch {
      color: #E50019;
    }

    .remove-game {
      display: none;
    }

    .game:hover .remove-game {
      display: block;
    }
  </style>
{% endblock %}

{% block content %}

  <h1 class="page-header board-header">/v/ - The Vidya</h1>
  <p class="board-subheader">A list of all the games released in 2020.</p>

  <div class="row game-container">
    {% for game in games %}
      <div class="col-sm-2">
        <div class="card mb-2">
          <div class="card-body game">
            <div class="title {{ game.name | length > 30 ? 'small-title' : '' }} mb-3">
              <a href="{{ game.url }}" target="_blank" class="text-dark">{{ game.name }}</a>
            </div>

            <div class="platforms mt-auto">
              {% if game.pc %}<i class="fab fa-fw fa-windows"></i>{% endif %}
              {% if game.x360 or game.xb1 %}<i class="fab fa-fw fa-xbox"></i>{% endif %}
              {% if game.ps3 or game.ps4 or game.vita %}<i class="fab fa-fw fa-playstation"></i>{% endif %}
              {% if game.switch %}<i class="fab fa-fw fa-nintendo-switch"></i>{% endif %}
              {% if game.mobile %}<i class="fab fa-fw fa-android"></i>{% endif %}

              <a href="#" class="remove-game float-right" data-title="{{ game.name | e('html_attr') }}" data-id="{{ game.id }}">×</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if is_granted('ROLE_ADD_VIDEO_GAME') and not configService.isReadOnly %}
    <button class="btn btn-primary my-3" type="button" data-toggle="modal" data-target="#addGameModal">
      <i class="far fa-plus fa-fw"></i> Add a video game
    </button>

    <button class="btn btn-warning my-3 float-right" type="button" id="wikipedia">
      {% if games | length == 0 %}
        <i class="far fa-file-download fa-fw"></i> Import list of games from Wikipedia
      {% else %}
        <i class="far fa-sync-alt fa-fw"></i> Reload list of games from Wikipedia
      {% endif %}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h5 class="modal-title">Add a video game</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" style="display: none;">
                <span class="alert-text"></span>
                <a class="close" href="#">&times;</a>
              </div>

              <div class="form-group row">
                <label class="col-lg-2 col-sm-3 col-form-label" for="info-name">Title</label>
                <div class="col-lg-10 col-sm-9">
                  <input class="form-control" type="text" id="info-name" required name="name">
                  <span class="form-text text-muted">Check your spelling before submitting!</span>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-2 col-sm-3 col-form-label">Platforms</div>
                <div class="col-lg-10 col-sm-9 pt-2">
                  {% for id, name in constant('App\\Entity\\GameRelease::PLATFORMS') %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="platform-{{ id }}" name="{{ id }}">
                      <label class="form-check-label" for="platform-{{ id }}">
                        {{ name }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span class="saving mr-2" style="display: none;">
              <i class="far fa-circle-notch fa-spin mr-1"></i> Saving...
            </span>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  {{ parent() }}

  {% if is_granted('ROLE_ADD_VIDEO_GAME') %}
    <script type="text/javascript">
        $(document).ready(function () {
            var dialog = $("#addGameModal");
            var currentlySubmitting = false;

            $('.alert .close').on('click', function () {
                $(this).parent().fadeOut("fast");
            });

            function handleError(error) {
                dialog.find('.saving').hide();
                dialog.find('button').removeAttr('disabled');
                dialog.find('.alert-text')
                    .html("<strong>Error:</strong> " + error)
                    .parent().fadeIn("fast");

                currentlySubmitting = false;
            }

            dialog.find('form').submit(function (event) {
                event.preventDefault();

                if (currentlySubmitting) {
                    return;
                }
                currentlySubmitting = true;

                dialog.find('.saving').show();
                dialog.find('button').attr('disabled', 'disabled');
                dialog.find('.alert').slideUp();

                var data = $(this).serializeArray();

                $.post("{{ path('addVideoGame') }}", data, function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        handleError(response.error);
                    }
                }, 'json').fail(function (response) {
                    handleError(response.status);
                });
            });

            $('.remove-game').click(function (event) {
                event.preventDefault();

                var title = $(this).data('title');
                var id = $(this).data('id');
                if (!confirm('Are you sure you want to remove ' + title + ' from the list of video games?')) {
                    return;
                }

                $.post("{{ path('removeVideoGame') }}", {id: id}, function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        alert('An error occurred: ' + response.error);
                    }
                }, 'json').fail(function (response) {
                    alert('An error occured: ' + response.status);
                });
            });

            $('#wikipedia').click(function (event) {
                event.preventDefault();

                if (!confirm('Are you sure you want to do this? Any games that have been manually added will be kept.')) {
                    return;
                }

                $.post("{{ path('reloadVideoGames') }}", null, function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        alert('An error occurred: ' + response.error);
                    }
                }, 'json').fail(function (response) {
                    alert('An error occured: ' + response.status);
                });
            });
        });
    </script>
  {% endif %}
{% endblock %}
