{% extends 'base/standard.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block css %}
  <style type="text/css">
    h1 {
      display: flex;
      align-items: center;
    }
    h1 img {
      width: 60px;
    }
  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
{% endblock %}

{% block content %}
  <h1 class="display-4">
    <img class="profile-pic mr-3" src="{{ user.avatar }}">
    <span>{{ user.name }}</span>
  </h1>

  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item ">
        <a href="{{ path('people') }}">Team members</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{{ path('viewPerson', {steamID: user.steamId}) }}">{{ user.name }}</a>
      </li>
      <li class="breadcrumb-item ml-auto">
        <a href="{{ path('permissions') }}">Your permissions</a>
      </li>
      {% if is_granted('ROLE_ADD_USER') and not configService.isReadOnly %}
        <li class="breadcrumb-item">
          <a href="{{ path('addPerson') }}">Add new team member</a>
        </li>
      {% endif %}
    </ol>
  </nav>

  {% for message in app.session.getFlashBag().get('formError') %}
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.session.getFlashBag().get('formSuccess') %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
    {% block subContent %}{% endblock %}
  </div>
{% endblock %}
