{% extends 'viewPersonBase.html.twig' %}

{% block subContent %}
  <div class="col-md-6">
    <h2>User information</h2>

    {% apply spaceless %}
    <ul class="list-unstyled">
      {% if user.primaryRole %}
        <li>
            <i class="fas fa-fw fa-user me-2"></i>{{ user.primaryRole }}
        </li>
      {% endif %}

      <li>
        <i class="fab fa-fw fa-steam-symbol me-2"></i>
        <a href="https://steamcommunity.com/profiles/{{ user.steamID }}" target="_blank">Steam profile</a>
      </li>

      {% if user.email %}
        <li>
          <i class="fas fa-fw fa-envelope me-2"></i>
          <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </li>
      {% endif %}

      <li>
        <i class="fas fa-fw fa-clock me-2"></i>
        {% if user.lastLogin %}
          <span>Logged in on {{ user.lastLogin | date('F jS, Y') }}</span>
        {% else %}
          <span>Never logged in</span>
        {% endif %}
      </li>
    </ul>
    {% endapply %}

    {% if is_granted('ROLE_PROFILE_EDIT_DETAILS') and not configService.isReadOnly %}
      <a class="btn btn-primary" href="{{ path('editPerson', {'steamID': user.steamID}) }}">Edit user information</a>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if is_granted('ROLE_PROFILE_EDIT_GROUPS') %}
        {% if user.permissions | length > 0 %}
          <h2>Permissions</h2>
          <p>
            Hover over any permission for a description of that permission.</p>
          <form method="POST" action="{{ path('editPerson', {'steamID': user.steamID}) }}" class="form-inline mb-3">
            {% for permission in user.permissions %}
              <div class="input-group me-2 mb-2">
                <div class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="{{ permission.description | e('html_attr') }}">{{ permission }}</div>
                {% if not configService.isReadOnly %}
                  <button class="btn btn-danger" name="RemoveGroup" value="{{ permission.id }}" title="Remove this permission">
                    <i class="fas fa-times"></i>
                  </button>
                {% endif %}
              </div>
            {% endfor %}
          </form>
        {% endif %}

        {% if not configService.isReadOnly %}
          <h2>Add a permission</h2>
          <form method="POST" action="{{ path('editPerson', {'steamID': user.steamID}) }}">
            <select class="form-select input-small" name="GroupName">
              {% for permission in permissions | filter(permission => permission not in user.permissions) %}
                <option value="{{ permission.id }}">
                  {{ permission.id }} &ndash; {{ permission.description }}
                  {% if permission.id[0:5] != 'LEVEL' %}
                    ({{ permission.parents | join(', ') }})
                  {% endif %}
                </option>
              {% endfor %}
            </select>
            <input type="submit" class="btn btn-success mt-2" name="AddGroup" value="Add permission">
          </form>
        {% endif %}
    {% endif %}
  </div>

  {#
  <div class="col-md-6">
    {% if is_granted('ROLE_PROFILE_EDIT_NOTES') and not configService.isReadOnly %}
      <h2>
        Notes
        <small><a href="#" id="notes-edit"
                  onclick="$('#notes-button').show();$('#notes').removeAttr('readonly');$(this).hide();">edit</a>
        </small>
      </h2>
      <form method="POST" action="{{ path('editPerson', {'steamID': user.steamID}) }}">
        <input type="hidden" name="action" value="edit-notes"/>
        <textarea rows="10" style="width: 100%" id="notes" readonly name="Notes">{{ user.notes }}</textarea>
        <div id="notes-button" style='display: none;'>
          <input type="submit" class="btn btn-success" value="Save notes"/>
          <a href="{{ path('viewPerson', {'steamID': user.steamID}) }}" class="btn">Cancel</a>
        </div>
      </form>
    {% else %}
      <h2>Notes:</h2>
      <textarea rows="10" style="width: 100%;" readonly>{{ user.notes }}</textarea>
    {% endif %}
  </div>
  #}
{% endblock %}
