{% extends 'base/special.html.twig' %}

{% block fullTitle %}/v/GAs - Voting{% endblock %}

{% block css %}
  {{ parent() }}

  {{ encore_entry_link_tags('voting') }}

  <link rel="stylesheet" href="{{ asset('css/votingNominees.css') }}">

  <style type="text/css">
{{ rewardCSS | raw }}
  </style>
{% endblock %}

{% block js %}
{#  {{ parent() }}#}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/twemoji/11.1.0/2/twemoji.min.js'></script>
  <script src="https://unpkg.com/webamp"></script>

  {{ encore_entry_script_tags('voting') }}

{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>#}
{% endblock %}

{% block body_attr %}id="voting-page"{% endblock %}

{% block head %}

  {% if award %}
    <script type="text/javascript">
      var votingEnabled = {{ votingOpen ? 'true' : 'false' }};
      var lastVotes = {{ votes | json_encode | raw }};
      var postURL = "{{ path('votingSubmission', {'awardID': award.id}) }}";
      var votingStyle = "{{ votingStyle }}";
    </script>
  {% endif %}

  <script type="text/javascript">
      const lootboxSettings = {{ lootboxSettings | json_encode | raw }};
      const lootboxTiers = {{ lootboxTiers | json_encode | raw }};
      const rewards = {{ items | json_encode | raw }};
      const knownItems = {{ knownItems | json_encode | raw }};
      {% if award %}
      var currentAward = "{{ award.id }}";
      {% else %}
      var currentAward;
      {% endif %}
  </script>

  {% if votingOpen %}
    <style type="text/css">
      .aNominee {
        cursor: move;
      }
      .voteBox {
        cursor: pointer;
      }
    </style>
  {% endif %}
{% endblock %}

{% block body %}
  <p class="shit">Created and Directed by<br><span style="font-size:100px">Hideo Kojima</span></p>

  <div id="winamp" style="position: absolute; left: 150px; bottom: 235px;"></div>

  <header>
    <a class="logo" href="{{ path('index') }}">
      <img src="{{ asset('2021images/logo.png') }}">
    </a>
    <div class="title-text">
      <div class="line-1">The 2022 Vidya Gaem Awards</div>
      <div class="line-2">{{ voteText }}</div>
    </div>
  </header>

  <div class="center-container" id="desktop-icons" style="display: none;">
    <div class="desktop-icon pixel-font" style="display: inline-flex;" data-open-window="game-rigged">
      <img src="{{ asset('2021images/html-3.png') }}">
      <div class="item-name" style="margin-top: 2px; color: white;">game1.swf</div>
    </div>
    <div class="desktop-icon pixel-font" style="display: inline-flex;" data-open-window="game-skyrim">
      <img src="{{ asset('2021images/html-3.png') }}">
      <div class="item-name" style="margin-top: 2px; color: white;">game2.swf</div>
    </div>
  </div>

  {% if award %}
    <div style="text-align: center;">
      <div class="window functional-window game-window" style="display: none;" id="game-skyrim">
        <div class="title-bar">
          <div class="title-bar-text">
            <img src="{{ asset('2021images/executable-1.png') }}"> The Elder Scrolls
          </div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" class="window-minimize"></button>
            <button aria-label="Close" class="window-close"></button>
          </div>
        </div>
        <iframe data-src="/2021images/games/VotingGame/index.html"></iframe>
      </div>
      <div class="window functional-window game-window" style="display: none;" id="game-rigged">
        <div class="title-bar">
          <div class="title-bar-text">
            <img src="{{ asset('2021images/executable-1.png') }}"> RIG THE VOTE!
          </div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" class="window-minimize"></button>
            <button aria-label="Close" class="window-close"></button>
          </div>
        </div>
        <iframe data-src="/2021images/games/4chanVoting/index.html"></iframe>
      </div>
    </div>
  {% endif %}

  <div class="center-container window functional-window" id="window-vga">
    <div class="title-bar">
      <div class="title-bar-text">
        <img src="{{ asset('2021images/favicon.png') }}" style="height: 16px; margin-right: 2px;">
        2022 Vidya Gaem Awards
      </div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" class="window-minimize"></button>
        <button aria-label="Close" class="turn-off-computer"></button>
      </div>
    </div>

    <div class="window-body">

    {#<div class="pageHeader" style="text-align: center; height: 110px;">#}
    {#<label>Width <input type="number" value="350" id="debugWidth"></label>#}
    {#<label>Height <input type="number" value="140" id="debugHeight"></label>#}
    {#<label>Title <input type="number" value="14" id="debugTitle"></label>#}
    {#<label>Subtitle <input type="number" value="12" id="debugSubtitle"></label>#}
    {#</div>#}

    {% if award %}
      {% if random(10) == 10 %}
        <button class="based">Based</button>
      {% endif %}

      <div class="award-header">
        <a href="{{ path('voting', {'awardID': prevAward.id}) }}" class="navigation left">
          <button><< {{ prevAward.name }}</button>
        </a>
        <div class="award-name-container">
          <div class="award-name">{{ award.name }}</div>
          <div class="award-subtitle">{{ award.subtitle }}</div>
        </div>
        <a href="{{ path('voting', {'awardID': nextAward.id}) }}" class="navigation right">
          <button>{{ nextAward.name }} >></button>
        </a>
      </div>
    {% endif %}

    <div id="wrapper">
      {% if award %}
        {% if votingStyle == 'legacy' %}
          <div id="limitsDrag">
            <div id="nomineeColumn" class="column">

              <img src="/2016images/pickYourNominees.png" width="204" height="70" alt="Pick your nominees">

              {% for nominee in award.nominees | shuffle %}

                {% apply spaceless %}
                  <div class="voteBox">
                    <div id="nominee-{{ nominee.shortName }}" class="aNominee" data-order="{{ loop.index }}"
                         data-nominee="{{ nominee.shortName }}">
                      <img class="fakeBorder" src="/2016images/votebox_foreground.png">
                      <img class="fakeBorder locked" src="/2016images/votebox_foreground_locked.png">
                      {% if nominee.flavorText %}
                        <div class="flavorText">{{ nominee.flavorText | nl2br }}</div>
                      {% endif %}
                      <img class="nomineeImage" src="{{ nominee.image ? nominee.image.url }}">
                      <div class="nomineeInfo">
                        <div class="number"></div>
                        <div class="nomineeName">{{ nominee.name }}</div>
                        <div class="nomineeSubtitle">{{ nominee.subtitle | raw }}</div>
                      </div>
                    </div>
                  </div>
                {% endapply %}

              {% endfor %}

            </div>

            <div id="spacerColumn" class="column">
              &nbsp;
            </div>

            {% if votingOpen or votingClosed %}
              <div id="voteColumn" class="column">
                <img src="/2016images/dragAndDrop.png" width="307px" height="70px" alt="Drag and drop to vote"/>
                {% for nominee in award.nominees %}
                  <div id="voteBox{{ loop.index }}" class="voteBox">
                  </div>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        {% else %}
          {#<div class="numberPopup {{ voteButtonSizeMap[award.nominees | length] }}" style="display: none;" id="numberPopup">#}
          {#<div class="numberButtons">#}
          {#{% for i in 1..award.nominees | length %}#}
          {#<button id="numberButton{{ i }}" class="numberButton" data-value="{{ i }}">#{{ i }}</button>#}
          {#{% endfor %}#}
          {#</div>#}
          {#</div>#}


          <div id="dragLimit">
            {% apply spaceless %}
              {% if votingOpen %}
                <div class="mobileInstructions">
                  Tap on any nominee to make them your <span class="nextPreference">1st</span> preference.
                </div>
              {% endif %}
              <div class="flexContainer voteDropArea" id="voteDropAreaTop">
                {% for nominee in award.nominees | shuffle %}
                  <div class="voteGroup" id="nominee-{{ nominee.shortName }}" data-nominee="{{ nominee.shortName }}" data-order="{{ loop.index }}">
                    {#<button id="voteBox{{ loop.index }}" name="{{ nominee.shortName }}" class="preferenceButton"}">+</button>#}
                    {#<input type="number" id="voteBox{{ loop.index }}" name="{{ nominee.shortName }}" class="preferenceInput" min="1" max="{{ award.nominees | length }}">#}
                    {#<label for="voteBox{{ loop.index }}">#}
                    <div class="voteBox window">
                      <div class="number title-bar" style="display: none;">
                        <div class="title-bar-text">{{ loop.index }}</div>
                        <div class="title-bar-controls">
                          <button aria-label="Close"></button>
                        </div>
                      </div>
                      <div class="window-body">
                        <div class="nominee" style="background-image: url('{{ nominee.image ? nominee.image.url : asset('img/no-image-available.png') }}'); background-size: cover">
                          <div class="fakeElement"></div>
                          <div class="handle fakeHandle"></div>
                          {% if votingOpen %}
                            <div class="hoverOverlay overlayWhenTop {{ 'href=' in nominee.subtitle ? 'adjustForLink' : '' }}">
                                                  <span>
                                                    Click to make <strong>{{ nominee.name }}</strong>
                                                    your&nbsp;<span class="nextPreference">1st</span>&nbsp;preference
                                                  </span>
                            </div>
                            <div class="hoverOverlay overlayWhenBottom {{ 'href=' in nominee.subtitle ? 'adjustForLink' : '' }}">
                                                    <span>
                                                      Click to remove <strong>{{ nominee.name }}</strong>
                                                      from your votes
                                                    </span>
                            </div>
                          {% endif %}
                          {% if nominee.flavorText %}
                            <div class="flavorText">
                              <img src="{{ asset('2021images/msg_information-2.png') }}">
                              <div class="flavorText__text">
                                {{ nominee.flavorText | nl2br }}
                              </div>
                            </div>
                          {% endif %}
{#                          <div class="nomineeInfo">#}
{#                            <div class="nomineeName">{{ nominee.name }}</div>#}
{#                            <div class="nomineeSubtitle">{{ nominee.subtitle | replace({'href=': 'target="_blank" href='}) | raw }}</div>#}
{#                          </div>#}
                          <div class="handle realHandle">
                            <i class="fas fa-bars"></i>
                          </div>
                        </div>
                      </div>
                      <div class="status-bar">
                        <p class="status-bar-field"><strong>{{ nominee.name }}</strong><br>{{ nominee.subtitle | replace({'href=': 'target="_blank" href='}) | raw }}</p>
                      </div>
{#                      <div class="status-bar">#}
{#                        <p class="status-bar-field">{{ nominee.subtitle }}</p>#}
{#                      </div>#}
                    </div>
                    {#</label>#}
                  </div>

                {% endfor %}
              </div>

              {% if votingOpen %}
                <h3 style="text-align: center; margin-top: 10px; margin-bottom: 10px;" id="submitReminder">After voting, click on "Submit Votes" below! Otherwise they won't save!</h3>
              {% endif %}


              <div class="your-votes">
                Votes
              </div>

              <div class="flexContainer voteDropArea" id="voteDropAreaBottom"></div>
            {% endapply %}
          </div>

          <div class="voteGroup placeholder" style="display: none;" id="dropPlaceholder">
            <div class="voteBox">
              <div class="nominee">
                <div class="fakeElement"></div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if votingOpen %}
          <div class="buttons" style="margin-top: 10px;">
            <button id="btnResetVotes" class="btnSubmit">Reset Votes</button>
            <button id="btnLockVotes" class="btnSubmit">Submit Votes</button>
{#            <div id="btnResetVotes" class="btnSubmit" title="Reset Votes"></div>#}
{#            <div id="btnLockVotes" class="btnSubmit" title="Submit Votes"></div>#}
          </div>

          <div class="buttons" style="margin-top: 10px;">
            <a href="{{ path('voting', {'awardID': nextAward.id}) }}" class="navigation next" title="Next award">
              <button>{{ nextAward.name }} >></button>
            </a>
          </div>

        {% endif %}

        {# {% if showFantasyPromo %}
          <h2 class="fantasy-promo">How well can you predict /v/? Join the <a href="{{ path('predictions') }}" target="_blank">2020 Fantasy League</a> and get your message in the show to laugh at /v/'s shit taste</h2>
        {% endif %} #}

      {% else %}
        <div id="startMessage">

          {% if votingNotYetOpen or votingOpen %}
            <h3>How to vote:</h3>
            <p style="margin-top: 5px; margin-bottom: 15px;">
              <img src="{{ asset('img/virgin.png') }}" style="width: 40px; margin-right: 5px;">
              <strong>The Virgin Vote:</strong> click on the nominee you want to win, then hit submit.
            </p>
            <p>
              <img src="{{ asset('img/chad.png') }}" style="width: 40px; margin-right: 5px;">
              <strong>The Chad Choice:</strong> click on multiple nominees in the order you want them to win.
            </p>
            <p>
              Click on the nominee you want to win most first, followed by the nominee you want to win second, etc.
              <b>You can preference as many or as few nominees as you want.</b>
            </p>
          {% endif %}

          {% if votingNotYetOpen %}
            <!-- Before votes open -->
            <p>Voting isn't open yet, but you can still browse the awards and have a look at the nominees. You can
              use the list of awards at the bottom and the meme arrows at the top to navigate.</p>
          {% endif %}

          {% if votingOpen %}
            <!-- While votes are open -->
            <p>
              Use the award list at the bottom to navigate, the arrows at the top of the page, or the arrow that appears after you
              click submit.
            </p>

            <a href="{{ path('voting', {'awardID': (awards|first).id}) }}">
              <button id="btnStart" class="btnSubmit">Start Voting</button>
            </a>
          {% endif %}

          {% if votingClosed %}
            <!-- After votes close -->
            <h2>Thanks to everybody who voted.</h2>
            <p>No new votes can be made, but if you've already voted you can still see the votes you made.</p>
          {% endif %}

        </div>
      {% endif %}
    </div>

    <div id="containerAwards" class="awards-list" style="margin-top: 10px;">
      <ul class="tree-view">
        <li>
          The Awards
          <ul class="awards">
          {% for _award in awards %}
          <li>
            <a href="{{ path('voting', {'awardID': _award.id}) }}" id="{{ _award.id }}"
               class="award {{ award == _award ? 'active' : '' }} {{ allVotes[_award.id] ? 'complete' : '' }}">
              <span class="award-name">{{ _award.name }}</span>
              <span class="award-subtitle">{{ _award.subtitle }}</span>
            </a>
          </li>
          {% endfor %}
          </ul>
        </li>
      </ul>

      {% if app.user.loggedIn %}
        <div class="goBackLink">
          <a href="{{ path('home') }}">< Back to the main part of the site</a>
        </div>
      {% endif %}
    </div>

    {% if award %}
      <img id="reward-buddie">

      <div id="rewards" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text">
                <img src="{{ asset('2021images/network_internet_pcs_installer-1.png') }}">
                <span>Usenet connection established</span>
              </div>
              <div class="title-bar-controls">
                <button aria-label="Close" id="closeRewardsModal"></button>
              </div>
            </div>
            <div class="modal-content">
              <div class="modal-body" style="text-align: center;">
                <div class="lootboxbox">
                  <div class="lootbox">
                    <img src="" class="lootbox-image">

                    <div class="inventory-item" style="display: none;">
                      <div class="item-tier"></div>
                      <img>
                      <div class="item-name"></div>
                    </div>
                  </div>
                  <div class="lootbox">
                    <img src="" class="lootbox-image">
                    <div class="inventory-item" style="display: none;">
                      <div class="item-tier"></div>
                      <img>
                      <div class="item-name"></div>
                    </div>
                  </div>
                  <div class="lootbox">
                    <img src="" class="lootbox-image">
                    <div class="inventory-item" style="display: none;">
                      <div class="item-tier"></div>
                      <img>
                      <div class="item-name"></div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn-lootbox" id="unboxButton">Start download</button>
                <div id="closeRewards" style="display: none;">
                  <button type="button" class="btn-lootbox" data-dismiss="modal">Save to C:\My Documents\Downloads</button>
                  <button type="button" class="btn-lootbox" id="neverShowAgain" style="margin-top: 5px;">Don't show this again</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div id="no-music" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">

      <div id="errorWindow" style="width: 100%;" class="modal-content">
        <div class="inner">
          <p style="font-weight: normal;">Oops! There's been a fucky wucky!</p>
          <br>
          <p>
            Your browser doesn't support OGG audio.
          </p>

          <button class="command_button right-button close-button" type="button" data-dismiss="modal">
            iToddlers BTFO
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

    </div>
</div>

  {% if award %}
  <div class="center-container window functional-window" style="margin-bottom: 40px;" id="window-downloads">
    <div class="title-bar">
      <div class="title-bar-text">
        <img class="title-bar-icon" src="{{ asset('2021images/directory_open_cool-4.png') }}">
        Downloads
      </div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" class="window-minimize"></button>
        <button aria-label="Close" class="window-close"></button>
      </div>
    </div>

    <div class="status-bar">
      <div class="status-bar-field" style="margin-top: 2px; display: flex; align-items: center; height: 24px;">
        <span style="margin-right: 4px; margin-left: 4px;">Address</span>
        <div class="white-box" style="flex-grow: 1; height: 24px; display: flex; align-items: center; padding-left: 4px; background-color: silver; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; color: grey;">
          <img src="{{ asset('2021images/directory_closed-1.png') }}" style="margin-right: 6px;">
          C:\My Documents\Downloads
        </div>
      </div>
    </div>

{#    <div class="window-body">#}
      <div id="containerInventory">

        <div id="inventory">
          <div class="inventory-container">
            <div class="inventory-item" id="shekelCount" style="display: none;">
              <div class="item-tier"></div>
              <img src="{{ asset('img/dosh.png') }}">
              <div class="item-name">-1 shekels</div>
            </div>
            <div class="inventory-item" id="item-template" style="display: none;">
              <div class="item-tier"></div>
              <img>
              <div class="item-name"></div>
              <div class="item-button-container">
                <button class="item-button item-buddie" data-type="buddie"><i class="far fa-fw fa-dog"></i></button>
                <button class="item-button item-music" data-type="music"><i class="far fa-fw fa-music"></i></button>
                <button class="item-button item-css" data-type="css"><i class="far fa-fw fa-palette"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="window-body" style="text-align: center;">
      <button id="buy-lootbox">Pay Usenet bill (<span id="lootboxCostText"></span> shekels)</button>
      <button id="unequipAll">Unequip all items</button>
      <button id="restoreDrops" disabled>Restore file drops</button>
      <button id="uninstallWinamp">Uninstall Winamp 2.91</button>
    </div>
{#    </div>#}
  </div>

    <div class="start-bar">
      <button title="Start Menu" class="button start-button-wrapper js-start-button based">
        <img src="{{ asset('2021images/windows-4.png') }}"> Start
      </button>
      <button class="start-bar-window" data-window="window-vga">
        <img src="/2021images/favicon.png">
        <span class="start-bar-text">2022 Vidya Gaem Awards</span>
      </button>
      <button class="start-bar-window" data-window="window-downloads">
        <img src="/2021images/directory_open_cool-4.png">
        <span class="start-bar-text">Downloads</span>
      </button>
      <button class="start-bar-window" id="start-bar-template" style="display: none;">
        <img src="/2021images/favicon.png">
        <span class="start-bar-text"></span>
      </button>
      <span class="made-by">{{ date().format('h:i A') }}</span>
    </div>
  {% endif %}
{% endblock %}
