{% extends 'base/standard.html.twig' %}

{% block css %}
  {{ parent() }}

  <style>
    .voting-code {
      font-size: 16px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1 class="page-header board-header">Voting Code</h1>

  <p class="board-subheader">
    Valid from {{ date.format('M jS Y g A T ') }}
  </p>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <code class="voting-code">{{ url }}<strong>{{ code }}</strong></code>
        </div>
        <div class="card-footer">
          A new code is generated each hour. Codes are not automatically invalidated, so it's safe to use an older code
          for a few hours.
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-sm mt-4">
    <thead>
    <tr>
      <th>Code</th>
      <th>Times used</th>
      <th>Code hour</th>
      <th>First use</th>
      <th>Last use</th>
    </tr>
    </thead>
    {% for log in logs %}
    <tr>
      <td>{{ log.code }}</td>
      <td>{{ log.count }}</td>
      <td>
        {% if validCodes[log.code] is defined %}
          <span class="text-success">{{ validCodes[log.code].format('Y-m-d H:i') }}</span>
        {% else %}
          <span class="text-danger">Code not on record</span>
        {% endif %}
      </td>
      <td>{{ log.firstUse }}</td>
      <td>{{ log.lastUse }}</td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
