{% extends 'base/standardThemed.html.twig' %}

{% block title %}Winners{% endblock %}

{% block head %}
  <style type="text/css">
    .uploadable {
      cursor: pointer;
    }

    .uploadable:hover {
      border-color: #f5e8c4;
      box-shadow:  0 0 15px rgb(247, 208, 89);
    }

    .empty-image {
      height: 235px;
      text-align: center;
      color: #1f1f1f;
      background: #EEE url('{{ asset('img/no-image-available.png') }}') bottom right no-repeat;
      transition: 0.2s all;
    }

    .empty-image.inactive {
      display: none;
    }

    .uploadable .empty-image:hover {
      color: #1565C0;
    }

    .uploadable .empty-image:hover .upload-icon {
      animation: move 0.4s forwards;
    }

    .empty-image .fa-cog {
      animation: spin 2s infinite linear;
    }

    @keyframes move {
      0% {
        transform: translate(0px);
      }
      100% {
        transform: translate(0px, -5px);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }

    .empty-image .upload-icon {
      font-size: 80px;
      margin-top: 35px;
      margin-bottom: 10px;
      position: relative;
    }

    p {
      font-size: 22px;
      line-height: 1.5em;
      color: white;
    }

    .award {
      margin: 0 auto 35px auto;
      padding: 20px;

      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid #fec544;
    }

    .winner {
      border: 2px solid #fec544;
    }

    .winner img {
      max-width: 100%;
    }

    .award ul {
      list-style-type: none;
      margin: 0;
      font-size: 24px;
      padding-left: 0;
      font-family: "Trajan Pro 3", serif;
    }

    .award ul li {
      line-height: 1.5em;
    }

    .winner-name {
      font-size: 30px;
      color: white;
      font-family: "Trajan Pro 3", serif;
      text-shadow: #00000080 2px 2px 2px;

      line-height: 1em;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .rank {
      font-size: 70%;
      color: #fec544;
    }

    .award ul li {
      color: white;
      font-size: 18px;
      /*font-family: "modern typewriter", Tahoma, sans-serif;*/
    }

    .awardHeaderContainer {
      height: 121px;
      margin: 0 0 20px 0;
      padding: 30px 30px;
      background-image: url(/2018images/btnNav_middle.png);
      background-repeat: no-repeat;
      background-position: top center;
      text-align: center;
    }

    .awardName {
      font-family: "Trajan Pro 3", serif;
      font-weight: normal;
      /* text-transform: uppercase; */
      font-size: 30px;
      line-height: 38px;
      color: #fec544;
      text-shadow: #00000075 5px 5px 5px;
    }

    .awardSubtitle {
      font-family: "Corbel", Arial, sans-serif;
      font-size: 22px;
      color: #e7e7e7;
      text-shadow: #00000075 5px 5px 5px;
    }

    .winner-text {
      color: #fec544;
      text-shadow: #00000080 2px 2px 2px;
      font-family: "Trajan Pro 3", serif;
    }

    .bottom-text {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript">
      $(document).ready(function () {
          var fileUploadTarget;

          $('.uploadable').click(function (event) {
              fileUploadTarget = $(event.currentTarget);

              // The uploadable class is removed while the upload is in progress
              if (!fileUploadTarget.hasClass('uploadable')) {
                  return;
              }

              $('#fileInput').click();
          });

          $('#fileInput').change(function () {
              var target = fileUploadTarget;
              var image = fileUploadTarget.find('img');
              var icon = fileUploadTarget.find('.upload-icon');
              var emptyImage = fileUploadTarget.find('.empty-image');

              if (image) {
                  image.remove();
                  emptyImage.removeClass('inactive');
                  emptyImage.find('.upload-help').text('Uploading...');
              }

              icon.removeClass('fa-file-upload');
              icon.removeClass('fa-exclamation-triangle');
              icon.addClass('fa-cog');

              var id = target.attr('data-id');
              $('#uploadAwardID').val(id);
              target.removeClass('uploadable');

              var form = $('#fileForm')[0];
              var data = new FormData(form);

              $.ajax({
                  type: 'post',
                  url: '{{ path('winnerImageUpload') }}',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  dataType: 'json',
                  success: function (response) {
                      if (response.success) {
                          image = $('<img class="img-responsive center-block">');
                          image.appendTo(target);
                          image.hide();
                          image.attr('src', response.filePath + '?t=' + new Date().getTime());

                          image.bind('load', function () {
                              emptyImage.addClass('inactive');
                              image.show();
                              target.addClass('uploadable');
                          });
                      } else {
                          alert('File upload error: ' + response.error);
                          emptyImage.find('.upload-help').text('Upload failed, click to try again');
                          icon.removeClass('fa-cog');
                          icon.addClass('fa-exclamation-triangle');
                          target.addClass('uploadable');
                      }
                  }
              });

              $('#fileInput').val('');
          });
      });
  </script>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" id="fileForm" style="display: none;">
    <input type="hidden" name="id" id="uploadAwardID">
    <input type="file" name="file" id="fileInput" accept=".jpg,.jpeg,.png,.gif">
  </form>

  <div class="pageHeader">
    <div class="pageHeaderLogo">
    </div>
    <div class="pageHeaderTitle">
      <h1>The 2019 Vidya Gaem Awards</h1>
    </div>
  </div>

  {% for award in awards %}
    <div class="row">
      <div class="col-12">

        <div class="awardHeaderContainer">
          <div class="awardName">
            <a id="{{ award.id }}" href="#{{ award.id }}" class="anchor">{{ award.name }}</a>
          </div>
          <h2 class="awardSubtitle">{{ award.subtitle }}</h2>
        </div>

        <div class="award">
          <div class="row">
            <div class="col-md-4">
              {% if award.winnerImage or is_granted('ROLE_AWARDS_EDIT') %}
              <div class="winner {{ is_granted('ROLE_AWARDS_EDIT') ? 'uploadable' : '' }}"
                   title="{{ is_granted('ROLE_AWARDS_EDIT') ? 'Click here to upload an image for this award winner' : '' }}"
                   data-id="{{ award.id }}">
                {% if award.winnerImage %}
                  <img class="img-responsive center-block" src="{{ award.winnerImage.url | e('html_attr') }}">
                {% endif %}
                {% if is_granted('ROLE_AWARDS_EDIT') %}
                  <div class="empty-image {{ award.winnerImage ? 'inactive' : '' }}" >
                    <i class="far fa-file-upload upload-icon"></i>
                    <div style="font-weight: bold; font-size: 18px;" class="upload-help">
                      Click here to upload an image
                    </div>
                    <div>Minimum dimensions: 345 x 245</div>
                    <div>Image will scale as needed</div>
                  </div>
                {% endif %}
              </div>
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="winner-text">Winner</div>
              <div class="winner-name">
                {{ results[award.id][0] | raw }}
              </div>
              <div class="winner-text">Eliminated</div>
              <ul>
                {% for result in results[award.id][1:] %}
                  <li>{{ result | raw }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="text-center bottom-text">
    <h1>Would you like to know more?</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="text-center">
        What's shown above are the official results as seen during the show. If you'd like to see more details,
        including how sites other than /v/ voted, visit the <a href="{{ path('results') }}">detailed&nbsp;results</a> page.
      </p>
    </div>
  </div>

{% endblock %}
