{% extends 'base/standardThemed.html.twig' %}

{% block title %}Winners{% endblock %}

{% block head %}
  <style type="text/css">
    .uploadable {
      cursor: pointer;
    }

    .uploadable:hover {
      border-color: #f5e8c4;
      box-shadow:  0 0 15px rgb(247, 208, 89);
    }

    .empty-image {
      height: 235px;
      text-align: center;
      color: #1f1f1f;
      background: #EEE url('{{ asset('img/no-image-available.png') }}') bottom right no-repeat;
      transition: 0.2s all;
    }

    .empty-image.inactive {
      display: none;
    }

    .uploadable .empty-image:hover {
      color: #1565C0;
    }

    .uploadable .empty-image:hover .glyphicon {
      animation: move 0.4s forwards;
    }

    .empty-image .glyphicon-cog {
      animation: spin 2s infinite linear;
    }

    @keyframes move {
      0% {
        transform: translate(0px);
      }
      100% {
        transform: translate(0px, -5px);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }

    .empty-image .glyphicon {
      font-size: 80px;
      margin-top: 35px;
      margin-bottom: 10px;
      position: relative;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      var fileUploadTarget;

      $('.uploadable').click(function (event) {
        fileUploadTarget = $(event.currentTarget);

        // The uploadable class is removed while the upload is in progress
        if (!fileUploadTarget.hasClass('uploadable')) {
            return;
        }

        $('#fileInput').click();
      });

      $('#fileInput').change(function () {
        var target = fileUploadTarget;
        var image = fileUploadTarget.find('img');
        var icon = fileUploadTarget.find('.glyphicon');
        var emptyImage = fileUploadTarget.find('.empty-image');

        if (image) {
            image.remove();
            emptyImage.removeClass('inactive');
            emptyImage.find('.upload-help').text('Uploading...');
        }

        icon.removeClass('glyphicon-upload');
        icon.removeClass('glyphicon-alert');
        icon.addClass('glyphicon-cog');

        var id = target.attr('data-id');
        $('#uploadAwardID').val(id);
        target.removeClass('uploadable');

        var form = $('#fileForm')[0];
        var data = new FormData(form);

        $.ajax({
          type: 'post',
          url: '{{ path('winnerImageUpload') }}',
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function (response) {
            if (response.success) {
                image = $('<img class="img-responsive center-block">');
                image.appendTo(target);
                image.hide();
                image.attr('src', response.filePath + '?t=' + new Date().getTime());

                image.bind('load', function () {
                    emptyImage.addClass('inactive');
                    image.show();
                    target.addClass('uploadable');
                });
            } else {
                alert('File upload error: ' + response.error);
                emptyImage.find('.upload-help').text('Upload failed, click to try again');
                icon.removeClass('glyphicon-cog');
                icon.addClass('glyphicon-alert');
                target.addClass('uploadable');
            }
          }
        });

        $('#fileInput').val('');
      });
    });
  </script>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" id="fileForm" style="display: none;">
    <input type="hidden" name="id" id="uploadAwardID">
    <input type="file" name="file" id="fileInput" accept=".jpg,.jpeg,.png,.gif">
  </form>

  <style type="text/css">
    p {
      font-size: 22px;
      line-height: 1.5em;
      color: white;
    }

    p a {
      background-color: rgb(251,68,7);
      border-radius: 15px;
      color: white;
      padding: 5px 15px;
      box-shadow: 2px 2px black;
      text-shadow: 1px 1px black;
    }

    p a:hover {
      text-decoration: underline;
      color: white;
    }

    .award {
      margin: 0 auto 35px auto;
      padding: 20px;
      background: black;
      border: 2px solid white;
      /*text-shadow: 1px 1px black;*/
      /*box-shadow: 0 0 10px #af3a81;*/
    }

    .winner {
      border: 2px solid white;
    }

    .awardName a {
      color: yellow;
      text-shadow: 2px 2px black;
      font-style: italic;
    }

    .awardSubtitle {
      color: white;
      font-size: 18px;
      margin-top: 5px;
      /*line-height: 20px;*/
    }

    .award ul {
      list-style-type: none;
      margin: 0;
      font-size: 24px;
      padding-left: 0;
    }

    .award ul li {
      line-height: 1.5em;
      /*font-family: "modern typewriter", Calibri, sans-serif;*/
      color: yellow;
    }

    .award ul li:first-child {
      font-size: 24px;
      display: block;
      text-align: center;
      background-color: rgb(251, 68, 7);
      color: white;
      border-radius: 20px;
      padding: 5px;
      /*color: yellow;*/
      line-height: 1em;
      margin-bottom: 10px;
    }

    .rank {
      font-size: 70%;
    }

    .award ul li:last-child {
      color: white;
      font-size: 18px;
      /*font-family: "modern typewriter", Tahoma, sans-serif;*/
    }

    .page-header {
      text-align: center;
      border: none;
      margin-bottom: 0;
    }

    .page-header.the-bottom {
      margin-bottom: 20px;
    }

    .awardHeaderContainer {
      margin: 0 50px;
      padding-top: 24px;
      height: 106px;
      background: url('{{ asset('2016images/title_bg.png') }}') center center no-repeat;
      text-align: center;
    }

    .awardName {
      /*font-family: "AnnapolisHalftoneItalic", 'Tahoma Bold', Tahoma, sans-serif;*/
      /*font-weight: normal;*/
      /*font-style: normal;*/
      text-transform: uppercase;
      font-size: 2.6em;
      line-height: 40px;
      /*color: #00ebdb;*/
    }

    a, a:visited {

    }

    a:hover, a:active {

    }
  </style>

  <div class="zig"></div>

  <div class="row">
    <div class="col-md-5" style="text-align: center;">
      <img src="{{ asset('2017images/vga_logo2.png') }}" alt="Logo of the 2018 Vidya Gaem Awards">
    </div>
    <div class="col-md-7" style="text-align: center; padding-top: 10px;">
      <h1>Winners of the 2018 Vidya&nbsp;Gaem&nbsp;Awards</h1>
    </div>
  </div>

  <div class="zig"></div>

  {% for award in awards %}
    <div class="row">
      <div class="col-xs-12">

        <div class="awardHeaderContainer">
          <div class="awardName">
            <a id="{{ award.id }}" href="#{{ award.id }}" class="anchor">{{ award.name }}</a>
          </div>
          <h2 class="awardSubtitle">{{ award.subtitle }}</h2>
        </div>

        <div class="award">
          <div class="row">
            <div class="col-md-4">
              {% if award.winnerImage or is_granted('ROLE_AWARDS_EDIT') %}
              <div class="winner {{ is_granted('ROLE_AWARDS_EDIT') ? 'uploadable' : '' }}"
                   title="{{ is_granted('ROLE_AWARDS_EDIT') ? 'Click here to upload an image for this award winner' : '' }}"
                   data-id="{{ award.id }}">
                {% if award.winnerImage %}
                  <img class="img-responsive center-block" src="{{ award.winnerImage | e('html_attr') }}">
                {% endif %}
                {% if is_granted('ROLE_AWARDS_EDIT') %}
                  <div class="empty-image {{ award.winnerImage ? 'inactive' : '' }}" >
                    <div class="glyphicon glyphicon-upload"></div>
                    <div style="font-weight: bold; font-size: 18px;" class="upload-help">
                      Click here to upload an image
                    </div>
                    <div>Minimum dimensions: 345 x 245</div>
                    <div>Image will scale as needed</div>
                  </div>
                {% endif %}
              </div>
              {% endif %}
            </div>
            <div class="col-md-8">
              <ul>
                {% for result in results[award.id] %}
                  <li>{{ result | raw }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="zig"></div>

  <div class="page-header the-bottom">
    <h1>Detailed Results</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        The results shown above are the same as those shown during the show and are based only on the votes from /v/.
        For more details, including vote counts and votes that we filtered out, see the
        <a href="{{ path('results') }}">detailed&nbsp;results</a> and
        <a href="{{ path('pairwiseResults') }}">pairwise&nbsp;comparison</a> pages.
      </p>
    </div>
  </div>

  <div class="zig"></div>

{% endblock %}
